In [1]:
hello world

SyntaxError: invalid syntax (3537592377.py, line 1)

In [2]:
print("Hello world")

Hello world

In [3]:
Print("hello world") #python is case sensitive

NameError: name 'Print' is not defined

What is a Markdown cell in Jupyter Notebook?
MarkDown Cells are used to present text, images, files and LaTex syntax. Content in Markdown cells are written in markdown language which is a superset of HTML.

In [4]:
print("hello world')

SyntaxError: unterminated string literal (detected at line 1) (842549119.py, line 1)

In [5]:
print('hello world')

hello world

In [6]:
print('I' am a student')

SyntaxError: unterminated string literal (detected at line 1) (664691846.py, line 1)

In [7]:
print("hello")
print("this is ahmad")

hello
this is ahmad

In [8]:
print("I'am a python enthusiast")

I'am a python enthusiast

In [9]:
print("""python is awesome""")

python is awesome

In [10]:
print('''Python is awesome''')

Python is awesome

In [11]:
print(""Hello wold"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3480254248.py, line 1)

In [12]:
print(''Merhaba dunya'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3532551103.py, line 1)

In [13]:
("Merhaba dunya")

'Merhaba dunya'

In [14]:
"Merhaba dunya"

'Merhaba dunya'

In [15]:
print("""""Merhaba dunya""""")

""Merhaba dunya

In [16]:
("""""""Merhaba dunya""""""")

'Merhaba dunya'

In [18]:
print('''''')

In [19]:
print('''"''')

"

In [20]:
print("""python is a"wesome""")

python is a"wesome

In [ ]:
print("""Merhabalar gocam, nasilsioniz
dun afganistana giderken herkesler selamlasmayi unutmusum""")

In [2]:
print('''') # it is looking for the next '

SyntaxError: incomplete input (141073989.py, line 1)

In [22]:
print("""""Hello world"""my name is ahmad""""")

SyntaxError: unterminated triple-quoted string literal (detected at line 1) (440130000.py, line 1)

In [23]:
print('''''')

In [24]:
print("""merhaba dunya""""selam aleyjkuym") # after three "" it keeps looking for the next three ""

# session
## session
### session
#### session
##### session
###### session
####### session

In [27]:
print("""bugun python dersinin ikincisi.
ikinci derse yine tirk isleyerek basladik.
insallah bi yerde biter bu tirnak mevzusu.
Hala bilmeyenler var mi""")

bugun python dersinin ikincisi.
ikinci derse yine tirk isleyerek basladik.
insallah bi yerde biter bu tirnak mevzusu.
Hala bilmeyenler var mi

In [28]:
print("Merhaba dunya
khana kharab")

SyntaxError: unterminated string literal (detected at line 1) (3023542531.py, line 1)

In [29]:
print('''Merhabalar arkadaslar
nasilsiniz
merah
jaja''')

Merhabalar arkadaslar
nasilsiniz
merah
jaja

# pep8 kurallari

In [ ]:
#1  79 karakterden fazla bir satirda kullanmayalim --> https://peps.python.org/pep-0008/

# Comment

In [3]:
3 + 5 # 3 ile 5 in toplamini islemini yapar

8

# Variables

In [40]:
age = 32 # sol taraftaki degisken sag taraftaki deger
name = "sedat" 
name

'sedat'

In [34]:
print(name)

sedat

In [35]:
name2 = sedat

NameError: name 'sedat' is not defined

In [37]:
name2 = "Sedat'

SyntaxError: unterminated string literal (detected at line 1) (320033546.py, line 1)

In [41]:
name3 = "murat"
name3

'murat'

In [42]:
name_4 = "hasan"

In [43]:
name_4

'hasan'

In [4]:
5name = "ahmad" # variable does not start with numeric value, and it does not contain anything like )&*

SyntaxError: invalid decimal literal (1560356637.py, line 1)

In [45]:
first_name ="yavuz"
last_name = "Fedayi"

In [46]:
pi_number = 3.14
pi_num = 3.14

In [47]:
pi-num = 3.14

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (468832315.py, line 1)

In [48]:
# degisken or variables

In [49]:
pi = 3
num = 1
pi - num # burada bilgisayar pi-num i pi eksi num diye algiliyor, bir kelime olarak degil

2

In [50]:
name_5 = "serap"
nam_6 = "arif"
name_7,name_8 = "selim", "ahmet" # the order is importantn
# we can assign variables like this, separating them with commas

In [51]:
name_7

'selim'

In [52]:
name_8

'ahmet'

In [58]:
nam_9,name_10 = "ozgur" # we cannot assign two variables to one value

ValueError: too many values to unpack (expected 2)

In [5]:
nam_9,name_10 = "ozgur",

ValueError: not enough values to unpack (expected 2, got 1)

In [54]:
name_11 = "berat", "lilibet"

In [55]:
name_11

('berat', 'lilibet')

# degisken or variables

In [59]:
name_7name_8 = "beren"

In [60]:
name_7

'selim'

In [61]:
#https://www.w3schools.com/python/python_tuples.asp

# Data types or Veri Tupleri

In [1]:
"Hello world" #String, str

'Hello world'

In [63]:
print(type("hello world"))

<class 'str'>

In [64]:
print(type(name_7))

<class 'str'>

In [65]:
age

32

In [66]:
print(type(age))

<class 'int'>

NameError: name 'schoolname' is not defined

In [70]:
print("3"+"5") # in string toplama islemi yapilir

35

In [71]:
type("3"+"5")

str

In [72]:
print("4" * 5)

44444

In [73]:
print("4" * "5")

TypeError: can't multiply sequence by non-int of type 'str'

In [74]:
print("3" + 5)

TypeError: can only concatenate str (not "int") to str

In [75]:
print("3" / 5)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [77]:
print("5" %  4)

TypeError: not all arguments converted during string formatting

In [82]:

"Sedat" * 3

'SedatSedatSedat'

In [83]:
"Sedat " * 3

'Sedat Sedat Sedat '

In [84]:
2 * 3

6

In [85]:
name_7

'selim'

In [86]:
print("name_7" * 3)

name_7name_7name_7

In [89]:
print(name_7 * 3)

selimselimselim

In [90]:
""'"""Sedat"""'""

'"""Sedat"""'

In [91]:
pi_number

3.14

In [92]:
type(pi_number)

float

In [93]:
pi_num_1 = 3, 14
pi_num_1

(3, 14)

In [94]:
type(pi_num_1)

tuple

In [95]:
type("3.14")

str

In [96]:
type(name_11)

tuple

In [97]:
type(False)

bool

In [98]:
type(True)

bool

In [99]:
type(false)

NameError: name 'false' is not defined

In [101]:
age = 50
bool(age)

True

In [102]:
x, y, z = "banana", "apple", "orange"
print(x)
print(y)
print(z)

banana
apple
orange

In [103]:
x

'banana'

In [104]:
y

'apple'

In [106]:
z # string oldugunu gostermek icin tirnak arasina koyar

'orange'

In [108]:
x
y
z #jupter notbook ozelligi

'orange'

In [109]:
type(x)

str

In [110]:
type(y)

str

In [111]:
type(x,y)

TypeError: type() takes 1 or 3 arguments

In [112]:
type(x,y,z)

TypeError: type.__new__() argument 2 must be tuple, not str

In [113]:
my_age = 32
your_age = 50
my_age = your_age

In [114]:
my_age

50

In [115]:
my_age = 55

In [116]:
my_age

55

In [117]:
age = 45
age

45

In [120]:
name = "fedayi"
name = "ahmad"
name

'ahmad'

In [119]:
# name = fedayi
# age = 24
# name = Ramin
# name

NameError: name 'fedayi' is not defined

In [121]:
x = "Techpro"
y = x
x = "python"
print(x)
print(y)

python
Techpro