NameError: name 'jan' is not defined

In [13]:
jan, march, may,jul, august, october, december = 31, 31, 31, 31, 31, 31, 31
jan

31

In [14]:
jan = march = may= jul = sep =nov = 31
feb = 28
apr = jun = august = oc = dec = 30
apr, jan, feb

(30, 31, 28)

# type conversion

#### all types to string

In [15]:
age = 30
print(age)
type(age)

30

int

In [20]:
converted_age = str(age)
print(type(converted_age))
converted_age

<class 'str'>

'30'

In [24]:
pi_num = 3.14
print(type(pi_num))
converted_pi_num = int(pi_num)
print(converted_pi_num)
print(type(converted_pi_num))

<class 'float'>
3
<class 'int'>

In [25]:
x = False
type(x)

bool

In [28]:
converted_x = str(x)
print(converted_x)

False

# input() function

In [30]:
input("enter your age")

'24'

In [31]:
my_age = int(input("What is your age?"))
(my_age**2)

576

#### float to integer

In [32]:
int(3.56)

3

In [33]:
int(3.86)

3

In [36]:
z = 5.9
print(type(z))
z = int(z)
z
print(type(z))

<class 'float'>
<class 'int'>

### int to float

In [37]:
print(int("6"))

6

In [40]:
print(int("60"))

60

In [43]:
job = "60"
age = "eng"
print(type(job))

<class 'str'>

In [45]:
str(False)

'False'

In [46]:
int(False)

0

In [47]:
int(True)

1