In [2]:
print(int(float("5.0")))

5

In [3]:
# we cannot directly change a string with decimal syntax into an integer, it needs to be converted to float first
print(int("5.0"))

ValueError: invalid literal for int() with base 10: '5.0'

In [5]:
# we can convert booleans to float and integer
int(False)
float(True)

1.0

In [2]:
8.2/2

4.1

In [3]:
8.2*5

41.0

In [5]:
8.2*5.0

41.0

In [6]:
20/4

5.0

In [1]:
4/2

2.0

In [ ]:
# if an equation contains either division of a float the result will be float type

In [4]:
2/2

1.0

In [5]:
2.0/2.0

1.0

In [6]:
3.0/3.0

1.0

In [7]:
20//5

4

In [8]:
# floor division gives only integer,
50 // 6

8

In [9]:
50/6

8.333333333333334

In [10]:
22/7

3.142857142857143

In [13]:
22//7
24%3

0

In [1]:
# modulo %  gives the remainder after the divisiom
24.5 % 3

0.5

In [15]:
a = 24.5 % 3
type(a)

float

In [16]:
64**(1/3)

3.9999999999999996

In [17]:
(11)**(3/2)

36.4828726939094

In [3]:
x = 7
x

7

In [9]:
x+=7 # x = x+7

In [10]:
x

28

In [11]:
z = 75

In [13]:
z /= 5
z # here it keeps storing the new data

3.0

In [17]:
w = 45
w /= 9
w # keeps taking the previous data, does not store the new data

5.0

In [18]:
k = 400

In [21]:
k //= 20
print(k)

0

# Task

In [23]:
(5**2 + 12**2)**(1/2)

13.0

In [24]:
x = 5
y = 12
z = ((x ** 2) + (y ** 2)) **0.5
print(int(z))

13

In [26]:
dik=5
komsu=12
hip=(dik**2+komsu**2)**(1/2)
print(hip)

13.0

# Print

In [28]:
print("Hello world","Merhaba dunya")

Hello world Merhaba dunya

In [29]:
print("Hello world"+"Merhaba dunya")

Hello worldMerhaba dunya

In [30]:
print("Hello","Python")
print("Hello","Python",sep="") # separatore by default is space
print("Hello","python",sep=" ") # separator frunction separates the strings
print("Hello","Python",sep="*")

Hello Python
HelloPython
Hello python
Hello*Python

In [97]:
print("Hello world")

Hello world

In [98]:
"hello word"

'hello word'

In [100]:
x = "apple"
y = "orange"

In [103]:
print(x,y,sep="")
print(x,y,sep="*")

appleorange
apple*orange

In [104]:
print(x,y,end="*")

apple orange*

In [106]:
print("I'm a python \nstudent") #\n new line

I'm a python
student

In [107]:
print(x)
print(y)

apple
orange

In [109]:
print(x, end = "") #doesn't go to new line, because end by default is \n
print(y)

appleorange

In [113]:
x = "elma"
y = "portakal"
z = "armut"
t = False
k = 3.14
print(x,y,z,t,k)
print(x,y,z,t,k,end = "-") # because at the end of the code it has end function
# so what it does is, it concatenates both the codes
print(x,y,z,t,k,sep = "+")

elma portakal armut False 3.14
elma portakal armut False 3.14-elma+portakal+armut+False+3.14

In [114]:
print(x,y,z,t,k,sep = "+")
print(x,y,z,t,k)
print(x,y,z,t,k,end = "-")

elma+portakal+armut+False+3.14
elma portakal armut False 3.14
elma portakal armut False 3.14-

In [115]:
print(x,y,z,t,k,sep = "\n")

elma
portakal
armut
False
3.14

In [ ]:
# separate and end are functions of print

In [116]:
print(x,end ="\n",y) # end must come at the end of the code

SyntaxError: positional argument follows keyword argument (2472877778.py, line 1)

In [117]:
print(x, sep = "\n", y)

SyntaxError: positional argument follows keyword argument (960526789.py, line 1)