In [1]:
# tuples are immutable,  can not change, but there are certain cenarios
# where are kind of mutable but they can't be count
#while lists are mutable

## Tuples

In [2]:
# they are faster than lists to work with, as lists have a lot of components
# tuples are more guvenli, because immutable, bilgi, veya verilerin iyi saklandigi
# they are iterable, we can reach it's elements, call them, and index them

In [3]:
tuple() # can take iterable elements
() # two ways

()

In [5]:
"Techpro" # Iterable, index can be done, an can reach it's element
[1,2,3,4,5]  # Iterable, index can be done, an can reach it's element
1507 # We can not reach it's element and not index it

1507

In [6]:
name = "Alparslan"
name

'Alparslan'

In [10]:
type(tuple(name))

tuple

In [9]:
type(list(name))

list

In [11]:
tuple(name)

('A', 'l', 'p', 'a', 'r', 's', 'l', 'a', 'n')

In [15]:
list(name) # the differences are the paranthese, type and islemler

['A', 'l', 'p', 'a', 'r', 's', 'l', 'a', 'n']

In [13]:
tuple("Merhaba")

('M', 'e', 'r', 'h', 'a', 'b', 'a')

In [14]:
list("Merhaba")

['M', 'e', 'r', 'h', 'a', 'b', 'a']

In [18]:
("Ahmad Jawid")

'Ahmad Jawid'

In [19]:
tuple("Ahmad Jawid")

('A', 'h', 'm', 'a', 'd', ' ', 'J', 'a', 'w', 'i', 'd')

In [20]:
type(("Ahmad"))

str

In [21]:
type(())

tuple

In [22]:
("Merhaba")

'Merhaba'

In [23]:
("Merhaba",)

('Merhaba',)

In [24]:
type(("Merhaba"))

str

In [25]:
type(("Merhaba",))

tuple

In [26]:
tuple(["Merhaba"])

('Merhaba',)

In [27]:
("hello", "world")

('hello', 'world')

In [30]:
("Hello","World") + ("ahmet") # it identifies as string

TypeError: can only concatenate tuple (not "str") to tuple

In [31]:
("Hello","World") + ("ahmet",)

('Hello', 'World', 'ahmet')

In [32]:
[1,2,3,4,5,]

[1, 2, 3, 4, 5]

In [33]:
(1,2,3,4,5,)

(1, 2, 3, 4, 5)

In [34]:
type((1,2,3,4,5,))

tuple

In [36]:
tuple(123) # we can not take uniterable elements inside tuple function

TypeError: 'int' object is not iterable

In [37]:
name1 , name2 = "sedat", "Ahmad"

In [38]:
name1

'sedat'

In [39]:
name2

'Ahmad'

In [41]:
name3,name4,name5 = "Muhammet","Ahmet",

ValueError: not enough values to unpack (expected 3, got 2)

In [42]:
name3,name4,name5 = "Muhammet","Ahmet"

ValueError: not enough values to unpack (expected 3, got 2)

In [43]:
name6 = "halil","serap" # no need for parenthes

In [44]:
name6

('halil', 'serap')

In [45]:
type(name6)

tuple

In [47]:
name7 = "hasan",

In [51]:
name8 = "hasan"

In [48]:
name7

('hasan',)

In [52]:
name8

'hasan'

In [49]:
type(name7)

tuple

In [53]:
type(name8)

str

In [55]:
tuple(3,5,7)

TypeError: tuple expected at most 1 argument, got 3

In [56]:
(3,5,7)

(3, 5, 7)

In [58]:
("hello",32,5,7) # only if we are using tupple funtion, we take iterable elements in

('hello', 32, 5, 7)

In [59]:
type(("hello",32,5,7))

tuple

In [60]:
("hello",32,5,7)[1]

32

In [61]:
()

()

In [62]:
type(())

tuple

In [63]:
a = ()
type(a)

tuple

In [64]:
aa = list("techpro")
aa

['t', 'e', 'c', 'h', 'p', 'r', 'o']

In [67]:
(aa) # parenthes, list

['t', 'e', 'c', 'h', 'p', 'r', 'o']

In [65]:
tuple(aa)

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [69]:
(aa,) # tek elemanli tuple, birinci elemani da aa listesi

(['t', 'e', 'c', 'h', 'p', 'r', 'o'],)

### range()

In [71]:
range(10) # start, stop, step and stop range is not included, Start default is 0,

range(0, 10)

In [73]:
tuple(range(5,15)) # range is iterable

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [74]:
tuple(range(-5,15))

(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [79]:
list(range(5,60,10))

[5, 15, 25, 35, 45, 55]

In [80]:
tuple(range(2,25,2))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24)

In [81]:
list(range(2,-10,-1))

[2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [83]:
tuple(range(2,10,-1)) # because it touches the stop before start

()

In [84]:
tuple(range(1,10,1.5))

TypeError: 'float' object cannot be interpreted as an integer

In [85]:
tuple(range(1.5,10,1))

TypeError: 'float' object cannot be interpreted as an integer

In [86]:
tuple(range(1,15.5,1))

TypeError: 'float' object cannot be interpreted as an integer

In [89]:
print(list(range(101)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [91]:
potpori = (1, 3.14, False, [1,2,3],(4,5),"Murat")

In [92]:
potpori

(1, 3.14, False, [1, 2, 3], (4, 5), 'Murat')

In [93]:
len(potpori)

6

In [94]:
type(potpori)

tuple

In [96]:
potpori + ("merhaba",)

(1, 3.14, False, [1, 2, 3], (4, 5), 'Murat', 'merhaba')

In [97]:
potpori + (7,8, "Onur")

(1, 3.14, False, [1, 2, 3], (4, 5), 'Murat', 7, 8, 'Onur')

In [98]:
eklenecek_tuple = (7,8,"Merhaba")

In [101]:
potpori += eklenecek_tuple # we are assigning the new value

In [100]:
potpori

(1, 3.14, False, [1, 2, 3], (4, 5), 'Murat', 7, 8, 'Merhaba')

In [104]:
a = ("hello") # the absence of comma reads it as string, and we cannot concatenate string to tuple
b = (1,2)
b += a
print(b)

TypeError: can only concatenate tuple (not "str") to tuple

In [103]:
a = ("hello",)
b = (7,8)
b += a
print(b)

(7, 8, 'hello')

In [105]:
potpori[5].endswith("t")

True

In [106]:
potpori[3]

[1, 2, 3]

In [109]:
potpori[3].append(4)

In [108]:
potpori

(1,
 3.14,
 False,
 [1, 2, 3, 'Merhaba'],
 (4, 5),
 'Murat',
 7,
 8,
 'Merhaba',
 7,
 8,
 'Merhaba')

In [110]:
potpori

(1,
 3.14,
 False,
 [1, 2, 3, 'Merhaba', 4],
 (4, 5),
 'Murat',
 7,
 8,
 'Merhaba',
 7,
 8,
 'Merhaba')

In [111]:
potpori[4]

(4, 5)

In [114]:
potpori[5][1:3]

'ur'

In [117]:
potpori.count(3.14) # It searches for the thuiung we write inside the parenthes

1

In [116]:
potpori.count(0)

1

In [118]:
cc = [0,2,4,6,8,10]

In [120]:
cc[-1] = "Merhaba"

In [121]:
cc

[0, 2, 4, 6, 8, 'Merhaba']

In [122]:
potpori[0] = "Techpro" # immutable

TypeError: 'tuple' object does not support item assignment

In [123]:
name1

'sedat'

In [124]:
name1[0] = "v"

TypeError: 'str' object does not support item assignment

In [126]:
print(potpori*2) # can use + and * like strings and list, bu are immutable like strings, and iterable

(1, 3.14, False, [1, 2, 3, 'Merhaba', 4], (4, 5), 'Murat', 7, 8, 'Merhaba', 7, 8, 'Merhaba', 1, 3.14, False, [1, 2, 3, 'Merhaba', 4], (4, 5), 'Murat', 7, 8, 'Merhaba', 7, 8, 'Merhaba')

In [127]:
potpori.index([1, 2, 3, 'Merhaba', 4]) # this is how we find the index of an element

3

In [128]:
potpori.index([1, 2, 3, 'Merhaba', 4],(4,5))

TypeError: slice indices must be integers or have an __index__ method

In [130]:
potpori.index([1, 2, 3, 'Merhaba', 4]).index((4,5)) # because after the first index it turns to integer

AttributeError: 'int' object has no attribute 'index'

In [131]:
potpori.count(2)

0

In [132]:
potpori[3].count(2)

1

In [135]:
x = input("bir sey girin")
y = input("ikinci sey girin")
if x.isdigit() and y.isdigit():
   print(int(x) + int(y))

123

In [138]:
x=input("İlk veriyi giriniz")
y=input("İkinci veriyi giriniz")
if type(int(x)) is int and type(int(y)) is int:
    print(int(x)+int(y))

90

In [141]:
x=float(input("Bir sayı girin: "))
y=float(input("Bir sayı girin: "))
if (x-int(x)) == 0 and (y-int(y)) == 0:
    print(x+y)
else:
    print("Girilen sayılardan en az biri tam sayı değil")

123.0

In [145]:
a=int(input("Bir nesne girin: "))
b=int(input("Diger nesneyi girin: "))
if type(a) and type(b)==int:
    print(a+b)
else:
    print(a)
    print(b)

123