### Dictionaries

In [1]:
{}
dict()
{}.fromkeys()

TypeError: fromkeys expected at least 1 argument, got 0

In [5]:
dict_1 = {"key1" : "value1", "key2" : "value2", "key3" : "value3"}
dict_1 # a key and it's value are said to be one item,
# every item's are separated with commas
# we can not index dictionaries and siralama are not important
# dictionaries are mutables like lists unlike strings and tuples

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [8]:
dict_1.items() # the items are separated from eachother tuples from eachother
# as tuples and elements of lists

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [10]:
dict_1[0] # we can not index them

KeyError: 0

In [11]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [12]:
dict_1.values()

dict_values(['value1', 'value2', 'value3'])

In [13]:
# they are not iterable but can be made iterable in certain circumstances

In [14]:
dict_1[1] # we cannot index them with numbers

KeyError: 1

In [16]:
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [17]:
dict_1["key1"] # indexing with keys

'value1'

In [65]:
dict_2 = {1:"one", 2 : "two", 3 : "three"}

In [24]:
dict_2 # we can give integers to keys

{1: 'one', 2.5: 'two', 3: 'three'}

In [21]:
dict_3 = {False : 0 , True : 1}

In [22]:
dict_3 # we can assign booth booleans and integers

{False: 0, True: 1}

In [26]:
dict_4 = {[1,2,3] : "liste"} # we can not add mutables

TypeError: unhashable type: 'list'

In [27]:
dict_5 = {1:"one","bir":"one",False:0}

In [29]:
dict_5 # keys can be diff data types

{1: 'one', 'bir': 'one', False: 0}

In [32]:
dict_6 = {(3.14,"merhaba"):"pi",5.68:"float"} # tuples
dict_6

{(3.14, 'merhaba'): 'pi', 5.68: 'float'}

In [34]:
{"key":1}

{'key': 1}

In [35]:
dict_7 = {{"key":1}:"value"} # keyler dict lerden olusmaz cunku onlar mutable
dict_7

TypeError: unhashable type: 'dict'

In [36]:
dict_8 = {(1,2,3):"tuple"}

In [37]:
dict_8.keys()

dict_keys([(1, 2, 3)])

#### value olusturma

In [39]:
dict_9 = {"names" : ["Eyup","ahmad","sukru"], "ages" : (20,21,32)}

In [40]:
dict_9 # we can assign anything

{'names': ['Eyup', 'ahmad', 'sukru'], 'ages': (20, 21, 32)}

In [41]:
# an item in dict contains two elements,  a kety and a value
# where keys can take only immutable values while values can take any 
# type of data type

In [43]:
dict(one = 1, two = 2, three = 3) # this way we can assign keys and values
# to be noted: it converted one two and three to strings

{'one': 1, 'two': 2, 'three': 3}

In [46]:
dict(4 = "four", 5 = "five") # we can only assign integers as keys with {}
# not with dict function

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2341294187.py, line 1)

In [51]:
dict(2.5="true",False="merhaba")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (4088970026.py, line 1)

In [53]:
{2:"iki",3:"uc"}

{2: 'iki', 3: 'uc'}

In [54]:
type({2:"iki",3:"uc"})

dict

In [57]:
nurullah = dict(one = 1, two = 2, three = 3)

In [58]:
nurullah

{'one': 1, 'two': 2, 'three': 3}

In [59]:
nurullah.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [60]:
print(nurullah.items())

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [61]:
dict_1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [66]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [67]:
dict_2[2]

'two'

In [68]:
dict_9

{'names': ['Eyup', 'ahmad', 'sukru'], 'ages': (20, 21, 32)}

In [76]:
dict_9["names"] # we can index with the keys

['Eyup', 'ahmad', 'sukru']

In [79]:
dict_9["names"].append("Anil") # as the thing we get after indexin is a list
# we can use the functions applicable on lists

In [78]:
dict_9

{'names': ['Eyup', 'ahmad', 'sukru', 'Anil'], 'ages': (20, 21, 32)}

In [91]:
dict_friends = {"friend1":"Ramin","friend2":"Qaseem","friend":"Wais"}

In [92]:
dict_friends

{'friend1': 'Ramin', 'friend2': 'Qaseem', 'friend': 'Wais'}

In [93]:
dict_friends.keys()

dict_keys(['friend1', 'friend2', 'friend'])

In [94]:
dict_friends.values()

dict_values(['Ramin', 'Qaseem', 'Wais'])

In [95]:
dict_friends["friend4"] = "Mahbub"

In [96]:
dict_friends # this is how we can add item

{'friend1': 'Ramin',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub'}

In [99]:
dict_friends["friend1"] = "AhRaminZahid" # assign a new value to 
# key1 whose value previously was Ramin

In [98]:
dict_friends

{'friend1': 'AhRaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub'}

In [104]:
dict_friends["friend5"] = ("Nadia","rahmani") # it checks if friend5 key exists or not
# if yes it assigns the new value, otherwise it create it as new item

In [103]:
dict_friends

{'friend1': 'AhRaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani')}

In [108]:
len(dict_friends) # nnumber of items

6

In [106]:
dict_friends["friend6"] = "Qaseem"
dict_friends

{'friend1': 'AhRaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani'),
 'friend6': 'Qaseem'}

In [107]:
print(dict_friends)

{'friend1': 'AhRaminZahid', 'friend2': 'Qaseem', 'friend': 'Wais', 'friend4': 'Mahbub', 'friend5': ('Nadia', 'rahmani'), 'friend6': 'Qaseem'}

In [109]:
dict_friends["Friend6"] = "ahmad"
dict_friends

{'friend1': 'AhRaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani'),
 'friend6': 'Qaseem',
 'Friend6': 'ahmad'}

In [110]:
dict_friends.items()

dict_items([('friend1', 'AhRaminZahid'), ('friend2', 'Qaseem'), ('friend', 'Wais'), ('friend4', 'Mahbub'), ('friend5', ('Nadia', 'rahmani')), ('friend6', 'Qaseem'), ('Friend6', 'ahmad')])

In [112]:
dict_friends.items()[0] # items are stored as tuples

TypeError: 'dict_items' object is not subscriptable

In [113]:
list(dict_friends.items())

[('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad')]

In [115]:
list(dict_friends.items())[0] # we converted it to lists and then indexed

('friend1', 'AhRaminZahid')

In [121]:
list(dict_friends.items()).append(("friend7","Sedat")) 
# We have to assign a value to it otherwise and then apply append

In [122]:
aa = list(dict_friends.items())

In [123]:
aa.append(("friend7","Sedat")) # we have to append naccording to
# the format of elements of aa lists, the appended element should also be
# a tupple

In [126]:
aa # now can convert it to a dict

[('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad'),
 ('friend7', 'Sedat')]

In [125]:
dict_friends

{'friend1': 'AhRaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani'),
 'friend6': 'Qaseem',
 'Friend6': 'ahmad'}

In [127]:
dict(aa)

{'friend1': 'AhRaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani'),
 'friend6': 'Qaseem',
 'Friend6': 'ahmad',
 'friend7': 'Sedat'}

In [128]:
aa

[('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad'),
 ('friend7', 'Sedat')]

In [129]:
aa.append("merhaba")

In [130]:
aa

[('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad'),
 ('friend7', 'Sedat'),
 'merhaba']

In [131]:
dict(aa)

ValueError: dictionary update sequence element #8 has length 7; 2 is required

In [133]:
aa.pop() # it clears the last element

('friend7', 'Sedat')

In [140]:
aa.append(("friend1","RaminZahid"))

In [141]:
aa.append(("friend4","Mahbub"))

In [142]:
aa

[('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad'),
 ('friend1', 'AhRaminZahid'),
 ('friend4', 'Mahbub'),
 ('friend1', 'RaminZahid'),
 ('friend4', 'Mahbub')]

In [145]:
dict(aa) # it does not allow two same keys, or duplicate
# since while appending friend1, it takes the latest/last value for friend1

{'friend1': 'RaminZahid',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani'),
 'friend6': 'Qaseem',
 'Friend6': 'ahmad'}

In [146]:
bb = [('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad'),
 ('friend1', 'AhRaminZahid'),
 ('friend4', 'Mahbub'),
 ('friend1', 'RaminZahid'),
 ('friend4', 'Mahbub'),
 ('friend1','Ramin')]

In [147]:
bb

[('friend1', 'AhRaminZahid'),
 ('friend2', 'Qaseem'),
 ('friend', 'Wais'),
 ('friend4', 'Mahbub'),
 ('friend5', ('Nadia', 'rahmani')),
 ('friend6', 'Qaseem'),
 ('Friend6', 'ahmad'),
 ('friend1', 'AhRaminZahid'),
 ('friend4', 'Mahbub'),
 ('friend1', 'RaminZahid'),
 ('friend4', 'Mahbub'),
 ('friend1', 'Ramin')]

In [148]:
dict(bb)

{'friend1': 'Ramin',
 'friend2': 'Qaseem',
 'friend': 'Wais',
 'friend4': 'Mahbub',
 'friend5': ('Nadia', 'rahmani'),
 'friend6': 'Qaseem',
 'Friend6': 'ahmad'}

In [150]:
sayilar = {"tek sayilar" : [], "Cift Sayilar" : []}

In [151]:
sayilar

{'tek sayilar': [], 'Cift Sayilar': []}

In [152]:
sayilar["tek sayilar"]

[]

In [154]:
sayilar["tek sayilar"].append(1)

In [155]:
sayilar

{'tek sayilar': [1], 'Cift Sayilar': []}

In [157]:
sayilar["tek sayilar"].extend([3,5,7,9])
sayilar

{'tek sayilar': [1, 3, 5, 7, 9, 3, 5, 7, 9], 'Cift Sayilar': []}

In [160]:
sayilar["Cift Sayilar"].extend(range(0,10,2))
sayilar

{'tek sayilar': [1, 3, 5, 7, 9, 3, 5, 7, 9],
 'Cift Sayilar': [0, 2, 4, 6, 8, 0, 2, 4, 6, 8]}

In [161]:
{}.fromkeys("Hello")

{'H': None, 'e': None, 'l': None, 'o': None}

In [162]:
{}.fromkeys("Hello",5)

{'H': 5, 'e': 5, 'l': 5, 'o': 5}

In [163]:

{}.fromkeys(52,12) # it has to be an iterable data type
# Lists, tLists, tuples, dictionaries, and sets are all iterable objectsuples,strings, dictionaries, and sets are all iterable objects

TypeError: 'int' object is not iterable

#### update in dict

In [164]:
dict_2

{1: 'one', 2: 'two', 3: 'three'}

In [165]:
dict_2.update({4:"four"}) # it has to be in the formate of dict

In [166]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [169]:
cc = {"merhaba":False,52 : ["fedayi"]}

In [170]:
cc.update({54:"false",("merhaba",54) : True})

In [171]:
cc

{'merhaba': False, 52: ['fedayi'], 54: 'false', ('merhaba', 54): True}

In [172]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [173]:
dict_2.update({5:"five",6:"six",7:"Seven"})

In [174]:
dict_2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'Seven'}

In [176]:
dict_2.update({4:"five",3:"six",2:"Seven"}) # updates the new value
dict_2

{1: 'one', 2: 'Seven', 3: 'six', 4: 'five', 5: 'five', 6: 'six', 7: 'Seven'}

In [177]:
dict_2.clear()

In [178]:
dict_2

{}

In [183]:
dict_1

{'key2': 'value2', 'key3': 'value3'}

In [184]:
dict_1.pop("key2") # it removes the whole item

'value2'

In [185]:
dict_1

{'key3': 'value3'}

In [187]:
dict_1.pop("value3") # icerisine key degeri vermezsek error verir

KeyError: 'value3'

In [188]:
dict_1

{'key3': 'value3'}

In [190]:
dict_1.get("key3") # it only gets the value of inputted key

'value3'

In [192]:
dict_1["key3"] # no difference with the upper method

'value3'

In [193]:
del dict_1["key3"]

In [194]:
dict_1

{}

#### nested dict

In [195]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [196]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [197]:
myfamily["child1"]

{'name': 'Emil', 'year': 2004}

In [198]:
type(myfamily["child1"])

dict

In [199]:
myfamily["child1"]["name"]

'Emil'

In [200]:
myfamily["child1"]["year"]

2004

In [202]:
myfamily["child1"].items() # the items of the dictionary in the value
# of the orevious dictionary

dict_items([('name', 'Emil'), ('year', 2004)])

In [203]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [206]:
myfamily["child2"]["name"][2]

'b'

In [207]:
myfamily["child2"]["name"].upper()

'TOBIAS'

In [208]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [209]:
myfamily["child2"].items()

dict_items([('name', 'Tobias'), ('year', 2007)])

In [210]:
myfamily.items()

dict_items([('child1', {'name': 'Emil', 'year': 2004}), ('child2', {'name': 'Tobias', 'year': 2007}), ('child3', {'name': 'Linus', 'year': 2011})])

in, not in

In [211]:
"e" in "hello"

True

In [212]:
"E" in "hello"

False

In [213]:
"E" not in "Hello"

True

In [214]:
"e " in "hello"

False

In [217]:
52 in 45287 # we can use in only for iterable data types

TypeError: argument of type 'int' is not iterable

In [218]:
dict_3

{False: 0, True: 1}

In [219]:
False in dict_3

True

In [220]:
dict_1

{}

In [222]:
0 in dict_3 # because of false

True

In [224]:
0 in dict_3.values() # because we have 0 among values

True