## Sets

In [4]:
# bir den fazla ayni elemani barindirmaz, dictionary deki key gibi
# like lists, and dictionaries are mutable
# no indexing, siralama soz konusu degil
set() # iterable aliyor, unordered, unique elements
{} # the elements are separated with comma, and there is not key and value

{}

In [6]:
set("hello") # least to max values

{'e', 'h', 'l', 'o'}

In [7]:
set("mehmet")

{'e', 'h', 'm', 't'}

In [9]:
set("Mehmet") # according to ASCII that's what M and m is different

{'M', 'e', 'h', 'm', 't'}

In [12]:
print(set("mehmet")) # jupiterin bir ozelligi

{'m', 't', 'h', 'e'}

In [15]:
print(set("Erdemirel")) # print shows that they are unordered

{'l', 'E', 'm', 'e', 'd', 'r', 'i'}

In [14]:
set("Erdemirel")

{'E', 'd', 'e', 'i', 'l', 'm', 'r'}

In [17]:
set("mavi","kirmizi","beyaz","mavi") # in set function, only on argument,
# we can take it in list or tuple

TypeError: set expected at most 1 argument, got 4

In [18]:
set(["mavi","kirmizi","beyaz","mavi"])

{'beyaz', 'kirmizi', 'mavi'}

In [20]:
print(set(["mavi","kirmizi","beyaz","mavi"]))

{'mavi', 'kirmizi', 'beyaz'}

In [21]:
aa = {"mavi","kirmizi","beyaz","mavi"}
aa

{'beyaz', 'kirmizi', 'mavi'}

In [22]:
type(aa)

set

In [38]:
empty_set = {} # {} if empty, dict, because it thinks as empty_set
empty_set # dict will be the format

{}

In [26]:
type(empty_set)

dict

In [29]:
empty_set1 = set() # this is how we show an empty set, {} is an empty dictionary
empty_set1

set()

In [28]:
type(empty_set1)

set

In [31]:
liste_1 = ["kalem","kagit","silgi","kalem"]
liste_1

['kalem', 'kagit', 'silgi', 'kalem']

In [33]:
{liste_1}

TypeError: unhashable type: 'list'

In [34]:
set(liste_1)

{'kagit', 'kalem', 'silgi'}

In [35]:
{"key":"value"} # dict formati

{'key': 'value'}

In [37]:
{"elma","armut"} # set formati

{'armut', 'elma'}

In [39]:
bos_dict = {}
type(bos_dict)

dict

In [40]:
bos_set = set()
type(bos_set)

set

In [44]:
set("mehmet") # jupiter does the ordering, otherwise 
# sets are unordered

{'e', 'h', 'm', 't'}

In [43]:
print(set("mehmet"))

{'m', 't', 'h', 'e'}

In [45]:
liste_1

['kalem', 'kagit', 'silgi', 'kalem']

In [46]:
set1 = set(liste_1)
set1

{'kagit', 'kalem', 'silgi'}

In [47]:
set1[0] # we can not index them

TypeError: 'set' object is not subscriptable

In [50]:
alfabe = "a b c d e f g h".split() # be default splits according to space
# if we want to split according to something else, we have to mention inside
# split function

In [49]:
alfabe

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [51]:
print(set(alfabe))

{'c', 'e', 'f', 'g', 'd', 'h', 'b', 'a'}

In [55]:
set2 = {1,5,2.0,4,1.0,2}

In [56]:
len(set2)

4

In [59]:
1 == 1.0 # but yet the value sums up to same value

True

In [60]:
type(1) == type(1.0) # although the types are different

False

In [62]:
set3 = {1,5,2.0,4,1.0,2,True}

In [64]:
set3 # since 1 is same is true that's why did not take it

{1, 2.0, 4, 5}

In [67]:
print(set3)

{1, 2.0, 4, 5}

In [66]:
set4 = {True,5,2.0,4,1.0,2,1} # since it sees True first
set4

{True, 2.0, 4, 5}

In [68]:
print(set4)

{True, 2.0, 4, 5}

In [69]:
print({5,2.0,4,1.0,2,1,"a","b","c"})

{1.0, 2.0, 4, 5, 'c', 'b', 'a'}

#### union, intersection, difference

In [72]:
set5 = set("fıstık")
set6 = set("osmaniye")
set5

{'f', 'k', 's', 't', 'ı'}

In [73]:
set6

{'a', 'e', 'i', 'm', 'n', 'o', 's', 'y'}

In [74]:
set5 - set6

{'f', 'k', 't', 'ı'}

In [77]:
set5.difference(set6)

{'f', 'k', 't', 'ı'}

In [75]:
set6 - set5

{'a', 'e', 'i', 'm', 'n', 'o', 'y'}

In [78]:
set6.difference(set5)

{'a', 'e', 'i', 'm', 'n', 'o', 'y'}

In [79]:
set5 & set6 # intersection, kesishim

{'s'}

In [80]:
set5.intersection(set6)

{'s'}

In [81]:
set6 & set5

{'s'}

In [82]:
set6.intersection(set5)

{'s'}

In [86]:
set5 + set6

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [88]:
set5 | set6 # union

{'a', 'e', 'f', 'i', 'k', 'm', 'n', 'o', 's', 't', 'y', 'ı'}

In [90]:
set6 | set5

{'a', 'e', 'f', 'i', 'k', 'm', 'n', 'o', 's', 't', 'y', 'ı'}

In [91]:
set5.union(set6)

{'a', 'e', 'f', 'i', 'k', 'm', 'n', 'o', 's', 't', 'y', 'ı'}

In [92]:
set6.union(set5)

{'a', 'e', 'f', 'i', 'k', 'm', 'n', 'o', 's', 't', 'y', 'ı'}

In [93]:
set7 = set("fındık")
set8 = set("fıstık")
set7

{'d', 'f', 'k', 'n', 'ı'}

In [94]:
set8

{'f', 'k', 's', 't', 'ı'}

In [95]:
set7 - set8

{'d', 'n'}

In [99]:
set7.difference(set8)

{'d', 'n'}

In [100]:
set8.difference(set7)

{'s', 't'}

In [96]:
set8 - set7

{'s', 't'}

In [98]:
set7 & set8

{'f', 'k', 'ı'}

In [101]:
set8 & set7

{'f', 'k', 'ı'}

In [102]:
set7.intersection(set8)

{'f', 'k', 'ı'}

In [103]:
set8.intersection(set7)

{'f', 'k', 'ı'}

In [106]:
set7 | set8

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [107]:
set8 | set7

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [109]:
set7.union(set8)

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [110]:
set8.union(set7)

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [108]:
(set7 | set8)-(set8 & set7)

{'d', 'n', 's', 't'}

In [113]:
(set7 - set8) | (set8 - set7)

{'d', 'n', 's', 't'}

In [114]:
set7.symmetric_difference(set8) # ^

{'d', 'n', 's', 't'}

In [116]:
set8.symmetric_difference(set7) # ^

{'d', 'n', 's', 't'}

In [117]:
set7 ^ set8

{'d', 'n', 's', 't'}

In [119]:
set8 ^ set7

{'d', 'n', 's', 't'}

In [120]:
set5

{'f', 'k', 's', 't', 'ı'}

In [121]:
set6

{'a', 'e', 'i', 'm', 'n', 'o', 's', 'y'}

In [122]:
set5 - set6

{'f', 'k', 't', 'ı'}

In [123]:
set5

{'f', 'k', 's', 't', 'ı'}

In [124]:
set5.difference_update(set6)
# removes all elements of other set from here and assign

In [126]:
set5 # removed s common element and kept the remaining to itself

{'f', 'k', 't', 'ı'}

In [129]:
set5

{'f', 'k', 't', 'ı'}

In [130]:
set6.update(set5) # union update

In [131]:
set6

{'a', 'e', 'f', 'i', 'k', 'm', 'n', 'o', 's', 't', 'y', 'ı'}

In [132]:
set5

{'f', 'k', 't', 'ı'}

In [133]:
set7

{'d', 'f', 'k', 'n', 'ı'}

In [134]:
set8

{'f', 'k', 's', 't', 'ı'}

In [135]:
set7.intersection_update(set8)
set7

{'f', 'k', 'ı'}

In [136]:
set7

{'f', 'k', 'ı'}

In [137]:
set8

{'f', 'k', 's', 't', 'ı'}

In [140]:
set7.add("d")

In [141]:
set7

{'d', 'f', 'k', 'nd', 'ı'}

In [142]:
set7.remove("nd")

In [143]:
set7

{'d', 'f', 'k', 'ı'}

In [146]:
set7.add("n") # doesn't matter how many times we keep running this code
# it only takes one

In [147]:
set7

{'d', 'f', 'k', 'n', 'ı'}

In [148]:
set7.add("M","l")

TypeError: set.add() takes exactly one argument (2 given)

In [149]:
set7.add([1,2])

TypeError: unhashable type: 'list'

In [150]:
set7.add((1,2,3))

In [151]:
set7

{(1, 2, 3), 'd', 'f', 'k', 'n', 'ı'}

In [153]:
{"merhaba",1,2,True,{"Merhaba",1,2}} 
# we can not add or sets do not contain lists, dict, or sets

TypeError: unhashable type: 'set'

In [158]:
set7

{'d', 'f', 'k', 'n', 'ı'}

In [157]:
set7.remove((1,2,3)) # we removed the tuple, 
# the element that we want to remove must be an element

KeyError: (1, 2, 3)

In [156]:
set7

{'d', 'f', 'k', 'n', 'ı'}

In [159]:
set7.clear()

In [160]:
set7

set()

In [161]:
set8

{'f', 'k', 's', 't', 'ı'}

In [162]:
set8.discard("f")

In [163]:
set8

{'k', 's', 't', 'ı'}

In [164]:
set8.discard("Meranan")

In [165]:
set8

{'k', 's', 't', 'ı'}

In [166]:
set9 = set("enes")
set10 = set("selin")

In [167]:
set9

{'e', 'n', 's'}

In [168]:
set10

{'e', 'i', 'l', 'n', 's'}

In [169]:
set9.issubset(set10)

True

In [170]:
set9 <= set10

True

In [171]:
set10.issuperset(set9)

True

In [172]:
set10>=set9

True

In [176]:
set10

{'e', 'i', 'l', 'n', 's'}

In [175]:
set10.isdisjoint(set9) # if thety have null intersect, it gives true
# if have any intersect gives false

False

In [183]:
set10.pop() # removes any element
# if we keep running, it'll keep removing any arbitrary element

KeyError: 'pop from an empty set'

In [184]:
set10

set()

In [185]:
set9

{'e', 'n', 's'}

In [186]:
set1

{'kagit', 'kalem', 'silgi'}

In [187]:
set11 = set("mehmet")
set12 = set("tem")

In [188]:
set11

{'e', 'h', 'm', 't'}

In [189]:
set12

{'e', 'm', 't'}