In [1]:
a = ["apple","orange","banana"]
b = [1,2,3]

In [2]:
zip(a,b)

In [3]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('banana', 3)]

In [4]:
x = "techpro"
y = "sedat"
z = "ali"

In [5]:
list(zip(x,y,z))

[('t', 's', 'a'), ('e', 'e', 'l'), ('c', 'd', 'i')]

In [6]:
list(zip("techpro",[],(1,2,3)))

[]

In [7]:
list(zip("techpro",[(1,2,3),(4,5,6),(7,8,9)],(1,2,3)))

[('t', (1, 2, 3), 1), ('e', (4, 5, 6), 2), ('c', (7, 8, 9), 3)]

## enumerate

In [8]:
# like zip

In [9]:
a

['apple', 'orange', 'banana']

In [10]:
b

[1, 2, 3]

In [11]:
enumerate(a)

In [13]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'banana')]

In [14]:
tuple(enumerate(a))

((0, 'apple'), (1, 'orange'), (2, 'banana'))

In [15]:
# if we don't give a start point, it automatically starts with 0

In [17]:
list(enumerate(a,100)) # 100 is the start point

[(100, 'apple'), (101, 'orange'), (102, 'banana')]

In [29]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
emptylist = []
for i in range(min(num),max(num)+1):
       if i not in num:
              emptylist.append(i)
emptylist

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [19]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [20]:
min(num)

5

In [21]:
max(num)

55

In [22]:
len(num)

40

In [23]:
print(range(5,56))

range(5, 56)

In [24]:
set(range(5,56)) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [30]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
emptylist = []
for i in range(min(num),max(num)+1):
       if i in num:
              continue
       emptylist.append(i)
emptylist

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [32]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [35]:
a = []
for i in num:
    if i % 3 != 0:
        a.append(i)
print(a)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

In [36]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
uce_bolunemeyen = []
for i in num:
    if i % 3 != 0:
     uce_bolunemeyen.append(i)

print(uce_bolunemeyen)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

In [38]:
a = []
for i in num:
    if i % 3 == 0:
        continue
    a.append(i)
print(a)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

### List Comprehension

In [42]:
liste1 = [1,2,3,4,5]
emptyliste = []

In [43]:
for i in liste1:
    emptyliste.append(i**2)
print(emptyliste)

[1, 4, 9, 16, 25]

In [46]:
[ i**2    for i in liste1 ] # here we did all in a line
# this is called list comprehension

[1, 4, 9, 16, 25]

#### what if there are if and else in ?

In [47]:
liste2 = [1,4,8,25,96,88,44,75,36,25,24,15]

In [49]:
evens = []
odds = []
for i in liste2:
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)

In [50]:
evens

[4, 8, 96, 88, 44, 36, 24]

In [52]:
[  i for i in liste2 if i % 2 == 0 ]

[4, 8, 96, 88, 44, 36, 24]

In [51]:
odds

[1, 25, 75, 25, 15]

In [53]:
[  i for i in liste2 if i % 2 != 0 ]

[1, 25, 75, 25, 15]

In [54]:
[  i for i in liste2 if i % 2 ]

[1, 25, 75, 25, 15]

In [57]:
3 % 2 # since in the upper example the answer is 1, python think of it as True

1

In [58]:
if 1:
    print("merhaba")

merhaba

In [59]:
if 0:
    print("merhaba")

In [60]:
if "0":
    print("merhaba")

merhaba

In [61]:
liste3 = [1,2,3,4,5,6,7,8,9]

In [62]:
empty_list = []
for i in liste3:
    if i % 2:
        empty_list.append(i)
    else:
        empty_list.append(i**2)

In [63]:
empty_list

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [64]:
[   i  if i % 2 == 1  else i ** 2     for i in liste3   ] # if we use only if, it comes to the right, if we use if and else

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [67]:
l = [1, 2, 3, 4, 5]
['merhaba' if v == 1 else 'selam' if v == 2 else 'selamaleykum' if v==3 else "assalam"   for v in l]

['merhaba', 'selam', 'selamaleykum', 'assalam', 'assalam']

In [66]:
l = [1, 2, 3, 4, 5]
['yes' if v == 1 else 'no' if v == 2 else 'merhaba' for v in l]

['yes', 'no', 'merhaba', 'merhaba', 'merhaba']

In [70]:
liste4 = ["renault?!","fiat?!","ford?!"]

In [69]:
liste4

['renault?', 'fiat?', 'ford?']

In [71]:
[i.replace("?","").replace("!","")  for i in liste4]

['renault', 'fiat', 'ford']

### nested loop

In [72]:
for i in ["Murat", "Filiz", "Techpro"]:
    for j in [1,2,3,4,]:
        print(i,j)

Murat 1
Murat 2
Murat 3
Murat 4
Filiz 1
Filiz 2
Filiz 3
Filiz 4
Techpro 1
Techpro 2
Techpro 3
Techpro 4

In [73]:
for i in [1,2,3,4,]:
    for j in ["Murat", "Filiz", "Techpro"]:
        print(i,j)

1 Murat
1 Filiz
1 Techpro
2 Murat
2 Filiz
2 Techpro
3 Murat
3 Filiz
3 Techpro
4 Murat
4 Filiz
4 Techpro

In [74]:
for i in [1,2,3,4]:
    for j in [5,6,7,8]:
        for z in [9]:
            print(i,j,z)

1 5 9
1 6 9
1 7 9
1 8 9
2 5 9
2 6 9
2 7 9
2 8 9
3 5 9
3 6 9
3 7 9
3 8 9
4 5 9
4 6 9
4 7 9
4 8 9

In [75]:
for i in [1,2,3,4]:
    for j in [5,6,7,8]:
        for z in [9,0]:
            print(i,j,z)

1 5 9
1 5 0
1 6 9
1 6 0
1 7 9
1 7 0
1 8 9
1 8 0
2 5 9
2 5 0
2 6 9
2 6 0
2 7 9
2 7 0
2 8 9
2 8 0
3 5 9
3 5 0
3 6 9
3 6 0
3 7 9
3 7 0
3 8 9
3 8 0
4 5 9
4 5 0
4 6 9
4 6 0
4 7 9
4 7 0
4 8 9
4 8 0

In [77]:
for i in range(1,2):
    for j in range(10):
        print(f"{i} x {j} = {i*j}")

1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

In [88]:
x = input("""Armstrong sayisini belirleyen programimiza hos geldiniz,
              kac basamakli bir sayi giriniz""")
power = len(x)
sayi = 0
for i in x: # a = sum([int(i)**power  for i in x])
    sayi += int(i)**power
if int(x) == sayi:
    print(f"girdiginiz sayi {int(x)} bir armstrong sayisi")
else:
    print(f"girdiginiz sayi {int(x)} armstrong sayisi degil")

girdiginiz sayi 407 bir armstrong sayisi

In [89]:
x = input("""Armstrong sayisini belirleyen programimiza hos geldiniz,
              kac basamakli bir sayi giriniz""")
power = len(x)
sayi = 0
a = sum([int(i)**power  for i in x])
if int(x) == a:
    print(f"girdiginiz sayi {int(x)} bir armstrong sayisi")
else:
    print(f"girdiginiz sayi {int(x)} armstrong sayisi degil")

girdiginiz sayi 407 bir armstrong sayisi

### 10 ile 10000 arasindaki armstrong sayilari bulur

In [92]:

bosliste = []
for x in range(10,10001):
    power = len(str(x))
    toplam = 0
    for i in str(x): # here i is a string, just be cautious
        toplam += int(i)**power
    if int(x) == toplam:
        bosliste.append(x)
bosliste

[153, 370, 371, 407, 1634, 8208, 9474]

In [95]:
bosliste = []
for x in range(10,10001):
    power = len(str(x))
    toplam = 0
    for i in str(x):
        toplam += int(i)**power
    if int(x) == toplam:
        bosliste.append(x)
bosliste

[153, 370, 371, 407, 1634, 8208, 9474]

In [101]:
empty_list_1 = []
for x in range(10,10001):
    uzunluk = len(str(x))

    toplam = sum([int(i) ** uzunluk for i in str(x)])
    
    if toplam == int(x):
        empty_list_1.append(x)

empty_list_1

[153, 370, 371, 407, 1634, 8208, 9474]