### Functions

In [1]:
def fonk_ismi(parametreler):
    ishlem satiri

SyntaxError: invalid syntax (1369487480.py, line 2)

In [4]:
def kareler_toplami(x,y):
    print(x**2+y**2)

In [5]:
kareler_toplami(4,5)

41

In [17]:
aa = kareler_toplami(3,4) # print doesn't allow us to assign it to any 
# variable

25

In [13]:
print(aa)

None

In [9]:
def multiply(a,b):
    return a*b #

In [10]:
multiply(6,5)

30

In [14]:
bb = multiply(6,5)

In [16]:
bb # return allow us to assign a variable to it

30

In [21]:
# multiply() # while using the parenthese we can see that it returns any
# # because we used return function
# kareler_toplami() # while using the parenthese we can see it retunrs none,
# # because we used print, instead of return

In [22]:
multiply("apple",3)

'appleappleapple'

In [23]:
multiply("apple","samsung")

TypeError: can't multiply sequence by non-int of type 'str'

In [24]:
kareler_toplami("merhaba","selam")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [25]:
def neset_baba():
    return "kadinlar insandir, biz insanoglu"

In [26]:
neset_baba()

'kadinlar insandir, biz insanoglu'

In [27]:
neset_baba("merhaba")

TypeError: neset_baba() takes 0 positional arguments but 1 was given

In [28]:
neset_baba([])

TypeError: neset_baba() takes 0 positional arguments but 1 was given

In [29]:
neset_baba

In [38]:
def hesapmakina(a,opr,b): # asagidaki description genellikle 3 tirnakla 
    #yazilir, bir tane ile de yapilir
    """bu fonsiyon basit 4 islem yapmak icin tasarlanmistir"""
    if opr == "+": # string olarak tanitacagiz, yoksa islem olarak
        return a + b # think yapar
    elif opr == "-":
        return a - b
    elif opr == "x":
        return a * b
    elif opr == "/":
        return a / b
    else:
        return "Hatali giri syaptin"

In [34]:
hesapmakina.__doc__ # gives the description under the function

'bu fonsiyon basit 4 islem yapmak icin tasarlanmistir'

In [35]:
help(hesapmakina)

Help on function hesapmakina in module __main__:

hesapmakina(a, opr, b)
    bu fonsiyon basit 4 islem yapmak icin tasarlanmistir

In [37]:
hesapmakina(7,"+",25)

32

In [39]:
hesapmakina(96,"/",8)

12.0

In [44]:
type((65+35,85-35,58**2))

tuple

In [42]:
def hesap_makinesi(a,opr,b):
    
    """Bu fonksiyon basit 4 işlem yapmak için tasarlanmıştır"""

    if opr == "+":
        return a + b
    elif opr == "-":
        return a - b
    elif opr == "x":
        return a * b
    elif opr == "/":
        return a / b
    else:
        return "Hatalı giriş yaptınız"

In [59]:
def mylen(iter):
    "girilen iterable degerin uzunlugunu dondurur"
    counter = 0
    for i in iter:
        counter += 1
    return counter

In [47]:
len("techpro")

7

In [48]:
mylen("techpro")

7

In [49]:
len([1,2,3,4,5,6])

6

In [50]:
mylen([1,2,3,4,5,6])

6

In [52]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [53]:
help(mylen)

Help on function mylen in module __main__:

mylen(iter)
    girilen iterable degerin uzunlugunu dondurur

In [54]:
len(15)

TypeError: object of type 'int' has no len()

In [55]:
mylen(15)

TypeError: 'int' object is not iterable

In [68]:
def mylen1(aa): # aa is parameter
    "girilen iterable degerin uzunlugunu dondurur"
    aa = str(aa)
    counter = 0
    for i in aa:
        counter += 1
    return counter

In [63]:
mylen1(145678)

6

In [64]:
mylen1(999999)

6

In [69]:
mylen([1,2,3,4,5]) # when calling inside funcions, called arguments

5

In [67]:
mylen1([1,2,3,4,5]) # pep sekiz kurallari geregi araya bosluk koyup onu da
# sayar

15

In [2]:
# while defining funcitons it's called parameter
# while calling the functions it's called arguments
# if the class is parameter, whatever is inside it is called arguments
# if human is the parameter, ahmad jawid nadia are arguments

In [5]:
def myname(firstname,lastname):
    print(f"My name is {firstname} {lastname}")

In [6]:
myname("Ahmad Jawid","Fedayi")

My name is Ahmad Jawid Fedayi

In [7]:
myname("yildirim","mehmet")

My name is yildirim mehmet

In [8]:
myname(lastname = "yildirim",firstname = "mehmet")

My name is mehmet yildirim

In [10]:
myname("sedat")

TypeError: myname() missing 1 required positional argument: 'lastname'

### Positional and Keyword Arguments

In [12]:
def myname2(firstname,lastname="techpro"):
    print(f"My name is {firstname} {lastname}")

In [13]:
myname2("sedat")

My name is sedat techpro

In [15]:
myname2("Ahmad","Jawid") # if we don't mention lastname, it goes with it's default value,
# which in function was defined as techpro

My name is Ahmad Jawid

In [16]:
myname2("Sedat","aslan")

My name is Sedat aslan

In [23]:
def myname3(firstname,secondname = "Ali",lastname): # here secondname is keyword, so if we don't
    # give any value to surname it follows second name
    print(f"My name is {firstname} {secondname} {lastname}")

SyntaxError: non-default argument follows default argument (279925840.py, line 1)

In [21]:
def myname3(firstname,lastname,secondname = "Jawid"): # position is important
    print(f"My name is {firstname} {secondname} {lastname}")

In [22]:
myname3("Ahmad","Fedayi")

My name is Ahmad Jawid Fedayi

In [25]:
myname3("Ahmad","Fedayi",lastname = "Murat") # fedayi is lastname

TypeError: myname3() got multiple values for argument 'lastname'

In [27]:
myname3("Ahmad","Fedayi",secondname = "Murat")

My name is Ahmad Murat Fedayi

In [28]:
myname3("Ahmad","Fedayi", "Murat")

My name is Ahmad Murat Fedayi

In [29]:
a = "adana"
b = "I"
c = "\U00002764"

In [30]:
"\U00002764"

'❤'

In [31]:
print(b,c,a)

I ❤ adana

In [34]:
def lover(pos1,pos2,pos3):
    print(pos2,pos3,pos1)

In [36]:
lover(a,b,c)

I ❤ adana

In [37]:
lover("Sibirgan",b,c)

I ❤ Sibirgan

In [38]:
lover(a,b,pos3="love")

I love adana

In [39]:
lover("Kabil",b,c)

I ❤ Kabil

In [40]:
lover("sheberghan","I","love")

I love sheberghan

In [51]:
def oddveren(a,b,c,d,e):
    for i in [a,b,c,d,e]:
        if i % 2 :
            print(i)

In [52]:
oddveren(1,2,4,8,5)

1
5

In [53]:
def odd(a,b,c,d,e):
    list_1=[a,b,c,d,e]
    odd_list=[]
    for i in list_1:
        if i%2:
            odd_list.append(i)
    return odd_list

In [54]:
odd(2,5,6,8,4)

[5]

In [60]:
def tek_sayilar(a,b,c,d,e):
    for i in [a,b,c,d,e]:
        if i%2:
            print(i)
        else:
            print(f"{i} is not odd number")

In [61]:
tek_sayilar(2,46,5,1,8)

2 is not odd number
46 is not odd number
5
1
8 is not odd number

In [62]:
x = 1,2,3

In [63]:
type(x)

tuple

In [1]:
def teksayi(a,b,c,d,e):
    "bu func. girilen sayilar icerindeki tek sayilari dondurur"
    teklistesi = []
    for i in a,b,c,d,e: # here it is a tuple
        if i % 2 == 1:
            teklistesi.append(i)
        return teklistesi

In [65]:
teksayi(5,4,9,7,6)

[5]

In [67]:
teksayi(1,5,8,4) # positional arguments

TypeError: teksayi() missing 1 required positional argument: 'e'

In [68]:
teksayi(1,5,8,4,6,9)

TypeError: teksayi() takes 5 positional arguments but 6 were given

In [69]:
def tek_sayilar(a,b,c,d,e):
    for i in [a,b,c,d,e]:
        if i%2:
            print(i)

In [70]:
tek_sayilar(1,2,3,4,5)

1
3
5

In [73]:
def tek_sayilar(a,b,c,d,e): # if we use print, it completes the for loop but return doesn't
    for i in [a,b,c,d,e]:
        if i%2:
            return i

In [72]:
tek_sayilar(1,2,3,4,5)

1

In [74]:
[i for i in [1,2,3,4,5] if i % 2]

[1, 3, 5]

In [75]:
def tek_sayilar4(a,b,c,d,e):
    return [i for i in [a,b,c,d,e] if i%2]

In [76]:
tek_sayilar4(55,4,7,8,96)

[55, 7]

In [77]:
def tek_sayilar4(a,b,c,d,e):
     [return i for i in [a,b,c,d,e] if i%2]

SyntaxError: invalid syntax (54845054.py, line 2)