### Nesne Yonelimli Programlama

In [1]:
class MyFirstClass: # while creating class, we do not include ()
    pass

In [2]:
print(type(MyFirstClass))

<class 'type'>

In [6]:
print(int)
print(str)
print(list)
print(MyFirstClass) # main here is built-in

<class 'int'>
<class 'str'>
<class 'list'>
<class '__main__.MyFirstClass'>

In [7]:
class MyFirstClass:
    pass

In [8]:
my_class = MyFirstClass()

In [9]:
my_class

In [27]:
class Person:
    pass
p1 = Person()
print(p1)
p2 = Person()
print(p2)
p3 = Person()

<__main__.Person object at 0x00000239F415F890>
<__main__.Person object at 0x00000239F4182AD0>

In [12]:
print(type(p1))

<class '__main__.Person'>

In [13]:
p1.name = "Ahmet"
p1.surname = "Yilmaz"
p1.age = 25
p1.job = "Engineer"

In [28]:
p2 = Person()

p2.name = "Mehmet"
p2.surname = "Yilmaz"
p2.age = 35
p2.job = "Teacher"
p2.country = "Turkiye"

In [19]:
print(p1.name,p1.surname,p1.age,p1.job)

Ahmet Yilmaz 25 Engineer

In [23]:
p1.name

'Ahmet'

In [21]:
type(p1.name)

str

In [24]:
p1.age

25

In [22]:
type(p1.age)

int

In [29]:
print(p2.name,p2.surname,p2.age,p2.country)

Mehmet Yilmaz 35 Turkiye

In [30]:
class Person:
    def __init__(self):
        self.name = "No name"
        self.surname = "No Surname"
        self.age = "No age"
        self.job = "No job"

In [31]:
p1 = Person()

In [32]:
p1.name

'No name'

In [33]:
p1.surname,p1.age,p1.job

('No Surname', 'No age', 'No job')

In [34]:
print(p1.surname)
print(p1.name)

No Surname
No name

In [35]:
p100 = Person()

In [36]:
p100.name

'No name'

In [37]:
p100.surname

'No Surname'

In [38]:
p100.age

'No age'

In [39]:
p100.country

AttributeError: 'Person' object has no attribute 'country'

In [44]:
class Person:
    def __init__(self):
        kendim.name = "No name"
        kendim.surname = "No Surname"
        kendim.age = "No age"
        kendim.job = "No job"
    # __init__ fonksiyonu icerisine verilen parametre uzerinden attribute tanimlamaliyiz

In [41]:
p100 = Person()

NameError: name 'kendim' is not defined

In [45]:
class Person:
    def __init__(kendim):
        kendim.name = "No name"
        kendim.surname = "No Surname"
        kendim.age = "No age"
        kendim.job = "No job"

In [46]:
p100 = Person()

In [47]:
class Person:
    def __init__(self):
        self.name = "No name"
        self.surname = "No Surname"
        self.age = "No age"
        self.job = "No job"

In [48]:
p1 = Person()
print(p1.name)
p1.name = "Ahmet"
print(p1.name)

No name
Ahmet

In [49]:
class Person:
    def __init__(self,name,surname,age,job):
        self.name = name
        self.surname = surname
        self.age = age
        self.job = job

In [50]:
def topla(x,y):
    return x+y
topla(2,2)

4

In [52]:
p1 = Person()

TypeError: Person.__init__() missing 4 required positional arguments: 'name', 'surname', 'age', and 'job'

In [53]:
p1 = Person("Ali","Veli",30,"IT")

In [54]:
print(p1.name)
print(p1.surname)
print(p1.age)
print(p1.job)

Ali
Veli
30
IT

In [55]:
print(type(p1.surname))
print(type(p1.age))

<class 'str'>
<class 'int'>

In [56]:
p2 = Person(10,20,"Serdar",100)

In [57]:
print(p2.name)
print(p2.surname)
print(p2.age)
print(p2.job)

10
20
Serdar
100

In [ ]:
def bolme(bolunen, bolen):
    return bolunen / bolen
def bolme2(a/b):
    return a / b

In [58]:
class Person:
    def __init__(self,a,b,c,d):
        self.name = a
        self.surname = b
        self.age = c
        self.job = d

In [59]:
p3 = Person("Ali","Veli",30,["Yazilimci","Pazarlamaci","Teacher"])

In [60]:
p3.job

['Yazilimci', 'Pazarlamaci', 'Teacher']

In [61]:
# class Person:
  #   def __init__(self, name: str, age: int):
    #     self.name = str(name)
      #  self.age = age
# bu şekilde yapabilirsiniz

In [64]:
class Person:
    def __init__(self,name,surname,age,job):
        self.name = str(name)
        self.surname = str(surname)
        self.age = int(age)
        self.job = str(job)
    def fullname(self):
        return f"isim: {self.name} soyisim: {self.surname}"

In [67]:
p1 = Person("Ali","Veli","30","Ogretmen")
print(p1.fullname())

isim: Ali soyisim: Veli

In [69]:
class Person:
    def __init__(self,name,surname,age,job):
        self.name = str(name)
        self.surname = str(surname)
        self.age = int(age)
        self.job = str(job)
    def fullname(self):
        return f"isim: {self.name} soyisim: {self.surname}"
    def info(self):
        return f"name: {self.name} surname: {self.surname} age: {self.age}"

In [70]:
p1 = Person("Ali","Veli","30","Ogretmen")
print(p1.fullname())

isim: Ali soyisim: Veli

In [71]:
print(p1.info())

name: Ali surname: Veli age: 30

In [91]:
class Employee:
    """Employee Class: name,surname,pay"""
    raise_amount = 1.2 # class attribute
    def __init__(self,name,surname,pay):
        self.name = name # instance attribute
        self.surname = surname
        self.pay = pay
    def fullname(self): 
        print(self.name,self.surname)
    def pay_raise(self): # instance method
        self.pay = int(self.pay * self.raise_amount)
        return self.pay

In [92]:
e1 = Employee("Ahmet", "Yilmaz",5000)
e2 = Employee("mehmet","erdemir",5000)

In [74]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yilmaz', 'pay': 5000}

In [75]:
e2.__dict__

{'name': 'mehmet', 'surname': 'erdemir', 'pay': 5000}

In [77]:
e1.fullname()

Ahmet Yilmaz

In [93]:
e1.pay_raise()

6000

In [84]:
Employee.raise_amount

1.2

In [86]:
Employee.fullname() # fullname belongs to instance, or self, or e1, but raise_amount is an 
# attribute of employee itself

TypeError: Employee.fullname() missing 1 required positional argument: 'self'

In [85]:
Employee.fullname(e1) # yaygin olmayan bir kullanim

Ahmet Yilmaz

In [87]:
e1.raise_amount

1.2

In [88]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yilmaz', 'pay': 5000}

In [95]:
e2.pay_raise()

6000

In [101]:
e2 = Employee("Mehmet","Demir",5000)

In [104]:
e3 = Employee("veli","Erdemir",5000)

In [105]:
e3.pay

5000

In [106]:
e3.__dict__

{'name': 'veli', 'surname': 'Erdemir', 'pay': 5000}

In [107]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yilmaz', 'pay': 6000}

In [108]:
e2.__dict__

{'name': 'Mehmet', 'surname': 'Demir', 'pay': 5000}

In [109]:
e1.pay,e2.pay,e3.pay

(6000, 5000, 5000)

In [110]:
e3.raise_amount = 2

In [112]:
e3.pay_raise()

10000

In [115]:
e3.__dict__ # here the raise amount is e3's attribute

{'name': 'veli', 'surname': 'Erdemir', 'pay': 10000, 'raise_amount': 2}

In [113]:
e2.__dict__

{'name': 'Mehmet', 'surname': 'Demir', 'pay': 5000}

In [114]:
e1.__dict__

{'name': 'Ahmet', 'surname': 'Yilmaz', 'pay': 6000}

In [116]:
e2.pay_raise()

6000

In [117]:
e2.__dict__

{'name': 'Mehmet', 'surname': 'Demir', 'pay': 6000}

In [118]:
e2.raise_amount

1.2

In [119]:
e1.raise_amount

1.2

In [120]:
e3.raise_amount

2

In [121]:
class Employee:
    """Employee Class: name,surname,pay"""
    raise_amount = 1.2 # class attribute
    def __init__(self,name,surname,pay):
        self.name = name # instance attribute
        self.surname = surname
        self.pay = pay
    def fullname(self): 
        print(self.name,self.surname)
    def pay_raise(self): # instance method
        self.pay = int(self.pay * Employee.raise_amount) # now even if we give a raise amount to 
        # instances like e3, it'll always get the one under the Employee
        return self.pay

In [122]:
class Employee:
    """Employee Class: name,surname,pay"""
    employee_count = 0
    def __init__(self,name,surname,pay):
        self.name = name # instance attribute
        self.surname = surname
        self.pay = pay
        Employee.employee_count += 1

In [123]:
Employee.employee_count

0

In [124]:
e1 = Employee("Ali","Veli",5000)
Employee.employee_count

1

In [125]:
e2 = Employee("Niyazi","Demir",5000)
Employee.employee_count

2

In [127]:
Erdi = Employee("Erdi","Kahraman",5000)
Employee.employee_count

4

### Class Method & Instance Method

In [128]:
class Person:

    def __init__(self,name,surname,age):
        self.name = name # instance attribute
        self.surname = surname
        self.age = age
    def fullname(self): 
        print(self.name,self.surname)
    def info(self):
        return f"name: {self.name} surname: {self.surname} age: {self.age}"

In [129]:
p1 = Person("Ahmet","Yilmaz",18)

In [130]:
p1.info()

'name: Ahmet surname: Yilmaz age: 18'

In [131]:
Person.info()

TypeError: Person.info() missing 1 required positional argument: 'self'

In [132]:
# class method tanımlayalım
class Person:
        employee_count = 0 # class attribute
        
        def __init__(self, name, surname, age):
            self.name = name
            self.surname = surname
            self.age = age
            Person.employee_count += 1 # class variable, instance oluşturulduğunda artacak, # self kullanmadık. Çünkü class variable
            
        def fullname(self): # instance method
            return f"{self.name} {self.surname}"
        
        def info(self): # instance method
            return f"name: {self.name} surname: {self.surname} nage: {self.age}"
        
        
        
        @classmethod # class method
        def number_of_employee(cls):
            return f"Number of employee: {cls.employee_count}"

In [133]:
print("""Encapsulation (Kapsülleme): Sınıf içindeki değişkenlerin ve fonksiyonların sınıfın dışındaki etkilere karşı korunması anlamına gelir.
Inheritance (Kalıtım): Bir sınıfın özelliklerinin ve davranışlarının başka bir sınıfa aktarılması anlamına gelir. Böylece kod tekrarından kaçınılır ve kodun yeniden kullanılabilirliği artar.
Polymorphism (Çok biçimlilik): Aynı isimli metodların, farklı sınıflarda farklı şekillerde tanımlanabilmesi anlamına gelir. Bu sayede farklı nesneler aynı işlevi farklı şekillerde yerine getirebilir.
Abstraction (Soyutlama): Karmaşık bir sistem veya nesne hakkında sadece gerekli olan bilginin kullanıcılara sunulması anlamına gelir. Bu sayede kullanıcıların gereksiz detaylarla uğraşması engellenir ve daha anlaşılır bir arayüz sağlanır.""")

Encapsulation (Kapsülleme): Sınıf içindeki değişkenlerin ve fonksiyonların sınıfın dışındaki etkilere karşı korunması anlamına gelir.
Inheritance (Kalıtım): Bir sınıfın özelliklerinin ve davranışlarının başka bir sınıfa aktarılması anlamına gelir. Böylece kod tekrarından kaçınılır ve kodun yeniden kullanılabilirliği artar.
Polymorphism (Çok biçimlilik): Aynı isimli metodların, farklı sınıflarda farklı şekillerde tanımlanabilmesi anlamına gelir. Bu sayede farklı nesneler aynı işlevi farklı şekillerde yerine getirebilir.
Abstraction (Soyutlama): Karmaşık bir sistem veya nesne hakkında sadece gerekli olan bilginin kullanıcılara sunulması anlamına gelir. Bu sayede kullanıcıların gereksiz detaylarla uğraşması engellenir ve daha anlaşılır bir arayüz sağlanır.

In [134]:
p1 = Person("Ahmet","Yilmaz",18)
p2 = Person("Ayse","Sahin",30)

In [135]:
Person.number_of_employee()

'Number of employee: 2'

In [136]:
# to make it zero, rerun the code
# class method tanımlayalım
class Person:
        employee_count = 0 # class attribute
        
        def __init__(self, name, surname, age):
            self.name = name
            self.surname = surname
            self.age = age
            Person.employee_count += 1 # class variable, instance oluşturulduğunda artacak, # self kullanmadık. Çünkü class variable
            
        def fullname(self): # instance method
            return f"{self.name} {self.surname}"
        
        def info(self): # instance method
            return f"name: {self.name} surname: {self.surname} nage: {self.age}"
        
        
        
        @classmethod # class method
        def number_of_employee(cls):
            return f"Number of employee: {cls.employee_count}"

In [137]:
Person.number_of_employee()

'Number of employee: 0'

In [138]:
# şimdi bunu class method tanımlayalım
class Person:
        employee_count = 0 # class attribute
        def __init__(self, name, surname, age):
            self.name = name
            self.surname = surname
            self.age = age
        @classmethod # class method
        def from_string(cls, string):
            name, surname, age = string.split("-")
            return cls(name, surname, age)

In [139]:
p1 = Person.from_string("Ahmet - Yilmaz - 25")

In [140]:
p1.name

'Ahmet '

In [141]:
p1 = Person("Ahmet", "yilmaz",25)

In [142]:
p1.__dict__

{'name': 'Ahmet', 'surname': 'yilmaz', 'age': 25}