In [4]:
liste1 = [1, 1.4, True, "ozgur",[1,2],{"name":"emrah"}]

In [5]:
liste1

[1, 1.4, True, 'ozgur', [1, 2], {'name': 'emrah'}]

In [3]:
liste1[0]

1

In [6]:
type(liste1[5])

dict

In [7]:
liste1[5]

{'name': 'emrah'}

In [10]:
liste1[4].append(3) # according t the type of that data type
# since it is a list, we can append, but if it was a bool, we couldn't

In [9]:
liste1

[1, 1.4, True, 'ozgur', [1, 2, 3], {'name': 'emrah'}]

In [11]:
liste1[3].append(65)

AttributeError: 'str' object has no attribute 'append'

In [12]:
# append only works in lists

In [13]:
liste1[3]

'ozgur'

In [14]:
liste1[3].startswith("o")

True

In [15]:
liste1[3].capitalize()

'Ozgur'

In [17]:
liste1[3].isalnum()

True

In [18]:
liste1

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], {'name': 'emrah'}]

In [20]:
liste1[2::2] # Start,End,Step

[True, [1, 2, 3, 3]]

In [21]:
liste2 = ["Adem",2]
liste2

['Adem', 2]

In [22]:
liste2*3

['Adem', 2, 'Adem', 2, 'Adem', 2]

In [23]:
liste2 + 3

TypeError: can only concatenate list (not "int") to list

In [24]:
liste2 + liste1

['Adem', 2, 1, 1.4, True, 'ozgur', [1, 2, 3, 3], {'name': 'emrah'}]

In [25]:
liste1 + liste2

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], {'name': 'emrah'}, 'Adem', 2]

In [26]:
liste1[5] = [4,5,6]

In [27]:
liste1

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6]]

In [28]:
liste1 + liste2

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6], 'Adem', 2]

In [29]:
liste2 + liste1

['Adem', 2, 1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6]]

In [30]:
liste1 + liste2 == liste2 + liste1

False

In [31]:
# so siralama onemli

In [32]:
liste1 *2

[1,
 1.4,
 True,
 'ozgur',
 [1, 2, 3, 3],
 [4, 5, 6],
 1,
 1.4,
 True,
 'ozgur',
 [1, 2, 3, 3],
 [4, 5, 6]]

In [33]:
liste2 * 6

['Adem', 2, 'Adem', 2, 'Adem', 2, 'Adem', 2, 'Adem', 2, 'Adem', 2]

In [34]:
print(liste1 * 2)

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6], 1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6]]

In [37]:
liste1 + 3 # sadece listeler arasi olur

TypeError: can only concatenate list (not "int") to list

In [36]:
liste1 + liste2

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6], 'Adem', 2]

In [38]:
# lsitelerde + * olur, ama gordugumuz gibi sartlari var

In [39]:
liste2

['Adem', 2]

In [40]:
liste2.append(3)

In [41]:
liste2

['Adem', 2, 3]

In [44]:
[456456,"Merhaba"][0][2]

TypeError: 'int' object is not subscriptable

In [45]:
[456456,"Merhaba"][1][0]

'M'

In [46]:
# int bool ve float are not subscritable

In [47]:
liste2.append(4,5)

TypeError: list.append() takes exactly one argument (2 given)

In [50]:
liste2.append([4,5]) # because this is a list, counts as one element

In [49]:
liste2

['Adem', 2, 3, [4, 5]]

In [52]:
liste2.append([4,5],["Sayuin"]) # append takes only one element

TypeError: list.append() takes exactly one argument (2 given)

In [54]:
str1 = "sabahattin"

In [55]:
str1

'sabahattin'

In [56]:
liste2.append(str1)

In [57]:
liste2

['Adem', 2, 3, [4, 5], [4, 5], 'sabahattin']

In [58]:
liste2.insert(4,"Hanife")

In [62]:
liste2 # saga kaydirir

['Adem', 2, 3, [4, 5], 'Hanife', [4, 5], 'sabahattin']

In [63]:
numbers = [0,1,2,3,4,5,6,7,1,4,2,3,7,8,6]

In [64]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 1, 4, 2, 3, 7, 8, 6]

In [65]:
numbers.remove(1) # we cannot write the index, it should be the element

In [66]:
numbers

[0, 2, 3, 4, 5, 6, 7, 1, 4, 2, 3, 7, 8, 6]

In [68]:
numbers.remove(14) # because the obj the parenthes should be the object

ValueError: list.remove(x): x not in list

In [76]:
numbers.remove(4) #n if we keep running the code, it keeps removing
# the element as long as it finds

ValueError: list.remove(x): x not in list

In [73]:
numbers

[0, 2, 3, 5, 6, 7, 1, 2, 3, 7, 8, 6]

In [77]:
aa = [2,5,3.54,48,bool("ahmad"),False]

In [78]:
aa

[2, 5, 3.54, 48, True, False]

In [81]:
aa.sort() # since the bool has binary values

In [80]:
aa

[False, True, 2, 3.54, 5, 48]

In [82]:
aa.remove(1)
aa

[False, 2, 3.54, 5, 48]

In [83]:
aa.remove(0)

In [84]:
aa

[2, 3.54, 5, 48]

In [85]:
aa.remove(float)

ValueError: list.remove(x): x not in list

In [90]:
list = [[]]*3 # because of multiplication, klonlamak, 
list[1].append(5) 
print(list)

[[5], [5], [5]]

In [87]:
list98 = [[],[],[]]
list98[1].append(5)
list98

[[], [5], []]

In [88]:
del list

In [89]:
list

list

In [91]:
numbers

[0, 2, 3, 5, 6, 7, 1, 2, 3, 7, 8, 6]

In [92]:
numbers.sort()

In [93]:
numbers

[0, 1, 2, 2, 3, 3, 5, 6, 6, 7, 7, 8]

In [97]:
numbers.sort(reverse=True) # default value of reverse is false

In [96]:
numbers

[8, 7, 7, 6, 6, 5, 3, 3, 2, 2, 1, 0]

In [99]:
numbers.sort(False) # can take either key or reverse=

TypeError: sort() takes no positional arguments

In [100]:
numbers.sort()

##

In [106]:
thislist = ["banana","Orange","Kiwi","cherry"] # sort it after lowering
thislist.sort(key = str.lower)#functioni cagirmiyoruz, sadece islet diyor
print(thislist) # usually in functions it also takes a parentthese

['banana', 'cherry', 'Kiwi', 'Orange']

In [104]:
thislist = ["banana","Orange","Kiwi","cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [116]:
thislist = ["banana","Orange","Kiwi","cherry"]
thislist.sort(key = str.lower,reverse = True)
print(thislist)

['Orange', 'Kiwi', 'cherry', 'banana']

In [109]:
thislist = ["banana","Orange","Kiwi","cherry"]
thislist.sort(key=str.lower()) # cunku burada cagrilmamasi lazim, 
print(thislist) # islem icin functiondan sonraki () alinmaz

TypeError: unbound method str.lower() needs an argument

In [111]:
ord("b")

98

In [112]:
ord("K")

75

In [113]:
ord("O")

79

In [114]:
ord("c")

99

In [115]:
# key diyor ki, once lower functionina tabi tut, sonra sort yap

In [117]:
name = "Techpro"
name.lower()

'techpro'

In [118]:
name # because after applying the function it doesn't

'Techpro'

In [120]:
newlist = thislist.sort(key=str.lower)
print(newlist) #

None

In [121]:
newlist = ["banana","Orange","Kiwi","cherry"]

In [124]:
newlist.sort(key=str.lower) ### as there is no outpu, we cannot directly 
# assign a variable to it, but what we can do is; after this sesscion we 
# can assign a new variable to this variable

In [125]:
newlist = ["banana","Orange","Kiwi","cherry"]
newlist.sort(key=str.lower)
vnew = newlist
vnew

['banana', 'cherry', 'Kiwi', 'Orange']

In [127]:
newlist = ["banana","Orange","Kiwi","cherry"]
ynew = newlist.sort(key=str.lower)
print(ynew)

None

In [128]:
vnew

['banana', 'cherry', 'Kiwi', 'Orange']

In [130]:
print(vnew.append("apple")) # because before print, it has to assign 
#the new value

None

### pop() / it removes and the returns

In [131]:
vnew

['banana', 'cherry', 'Kiwi', 'Orange', 'apple', 'apple']

In [132]:
thislist = ['banan', 'cherry', 'Kiwi', 'Orange', 'apple', 'apple']

In [133]:
thislist.pop()

'apple'

In [134]:
thislist

['banan', 'cherry', 'Kiwi', 'Orange', 'apple']

In [138]:
print(thislist.pop()) # as long as we keep running. it will keep
# assigning to the previous variable

cherry

In [141]:
numbers.sort(reverse=True)

In [142]:
numbers

[8, 7, 7, 6, 6, 5, 3, 3, 2, 2, 1, 0]

In [143]:
numbers.pop(5)

5

In [144]:
numbers

[8, 7, 7, 6, 6, 3, 3, 2, 2, 1, 0]

In [146]:
numbers.pop(20) # index should be in the range

IndexError: pop index out of range

In [147]:
# the default value of pop is -1, removes the last element

In [149]:
numbers

[8, 7, 7, 6, 6, 3, 3, 2, 2, 1, 0]

In [162]:
numbers.pop() # as long as we keep running, it'll keep cleaning

IndexError: pop from empty list

In [164]:
numbers # after pop()ing more than the number of elements

[]

### clear()

In [166]:
liste_3 = [3, 'hello', True, 3.15, (3, 5), [15, 20, 25], {'name': 'Sedat'}]

In [167]:
liste_3.clear()

In [168]:
liste_3

[]

#### del()

In [170]:
liste_4 = [1, 5, 9, 10, 'hi', 'world', 'pine apple', 'orange', 'banana', 'apple']

In [172]:
liste_4

[1, 5, 9, 10, 'hi', 'world', 'pine apple', 'orange', 'banana', 'apple']

In [175]:
del liste_4 # tum hafizasindan siliyor\

NameError: name 'liste_4' is not defined

In [174]:
liste_4

NameError: name 'liste_4' is not defined

In [176]:
# clear temizliyor, delete siliyor

In [182]:
name = "techpro"

In [183]:
del name

In [184]:
name

NameError: name 'name' is not defined

In [180]:
#  be cautious while using del, coz there is no way we can get back

In [186]:
name = "techpro"

In [187]:
del(name)

In [188]:
name

NameError: name 'name' is not defined

In [189]:
liste_4

NameError: name 'liste_4' is not defined

In [190]:
liste2

['Adem', 2, 3, [4, 5], 'Hanife', [4, 5], 'sabahattin']

In [191]:
del(liste2)

In [192]:
liste2

NameError: name 'liste2' is not defined

### count()

In [193]:
numbers = [1,2,5,4,1,2,3,6,5,8,9,7,4,1]

In [195]:
numbers.count(1) # counts the element

3

In [196]:
numbers.count()

TypeError: list.count() takes exactly one argument (0 given)

In [197]:
liste1

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6]]

In [198]:
liste1.count([4,5,6])

1

In [199]:
liste1.count("ozgur")

1

In [200]:
liste1.count("Ozgur")

0

In [201]:
# and also doesnt assign any new value

In [202]:
liste1

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6]]

In [204]:
liste1.count(1) # it is not counting the 1 inside the list, it actually is 
# taaking true as 1

2

In [205]:
liste1

[1, 1.4, True, 'ozgur', [1, 2, 3, 3], [4, 5, 6]]

In [207]:
[1, 1.4, 'ozgur', [1, 2, 3, 3], [4, 5, 6]].count(1)

1

### extend()

In [212]:
liste5 = ["Onur", "halil", "baha"]
liste5

['Onur', 'halil', 'baha']

In [213]:
liste5.append(["Oguz","Rumeysa"]) # we had to make it a list, because with 
#append it onkly takes one element

In [211]:
liste5

['Onur', 'halil', 'baha', ['Oguz', 'Rumeysa']]

In [217]:
liste5.extend(["Beria","Selin"]) # again made a list, it only takes one element

In [215]:
liste5

['Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin']

In [216]:
liste5.extend("Merhaba","selam") #

TypeError: list.extend() takes exactly one argument (2 given)

In [218]:
print(liste5.extend(liste5))

None

In [219]:
liste5.extend(liste5)

In [220]:
print(liste5)

['Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin']

In [221]:
liste5.extend(liste5*2)

In [222]:
print(liste5)

['Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin', 'Onur', 'halil', 'baha', ['Oguz', 'Rumeysa'], 'Beria', 'Selin', 'Beria', 'Selin']

In [224]:
list66 = ["Merhabalar"]
list66.extend("Meh")

In [225]:
list66

['Merhabalar', 'M', 'e', 'h']

In [230]:
list99 = ["Selam"]
list99.extend(["Meh"]) # we can use extend only for iterable
list99

['Selam', 'Meh']

In [233]:
list99.extend(4) # integer is not iterable

TypeError: 'int' object is not iterable

#### join()

In [235]:
list6 = ["Berat","Filiz","Ramazan"]
list6

['Berat', 'Filiz', 'Ramazan']

In [236]:
"".join(list6)

'BeratFilizRamazan'

In [238]:
"".join(list6,"Merhaba") # only one argument

TypeError: str.join() takes exactly one argument (2 given)

In [240]:
list6 # because join doesn't return the new value

['Berat', 'Filiz', 'Ramazan']

In [241]:
"*".join(list6) # whatever we put inside ""

'Berat*Filiz*Ramazan'

In [242]:
len("*".join(list6))

19

### off the record

In [243]:
# we can add photo only in markdown

<img src= "merhaba.png">

<a href="https://www.udemy.com/">Click Here To Login</a>

<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"> Everything about Markdown</a>

In [246]:
text = "{:.2f}, {:.3f}, {:.1f}".format(3.142536, 5.1547, 8.9584)
text

'3.14, 5.155, 9.0'

In [247]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [248]:
ss = "{:>10}".format("blent")
ss

'    blent'

In [249]:
pp = "{:<10}".format("ahmet")
pp

'ahmet     '

In [253]:
ss = "{:>20}".format("blent") # keeps the extra space to the left
ss

'              blent'

In [251]:
pp = "{:<20}".format("ahmet") # Keeps the extra space to the right
pp

'ahmet               '

In [252]:
pp = "{:^20}".format("ahmet") # keeps the text in the middle, and if it's 
# odd, keeps the extra to the right
pp

'       ahmet        '

In [254]:
pp = "{:^20}".format("ahmetjawid fedayi merhaba diyor herkese")
pp

'ahmetjawid fedayi merhaba diyor herkese'

In [255]:
"bulent".center(20,"*")

'*******bulent*******'