# Lists

In [8]:
# is a data type, can store different data types in it, any type of em
# Strings are immutable, can not change, but
# Lists are mutable, like without assigning a varibale to it
# are iterable like strings, meaning, we can reach to its elements for ex
# by indexing 
list() # can show them in these two ways
[]
liste1 = list("Techpro")
liste1 # because iterable

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [9]:
print(type(liste1))

<class 'list'>

In [3]:
len(liste1) # elements are ayrilir by virguls

7

In [4]:
str1 = "Techpro"
liste2 = list(str1)
liste2

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [5]:
str(liste1)

"['T', 'e', 'c', 'h', 'p', 'r', 'o']"

In [6]:
len(str(liste1)) # it even counts the notations

35

In [10]:
empty_list = list()

In [12]:
empty_list # because iterable, you can even reach to it's element even if
# it is empty

[]

In [13]:
liste3 = ["Techpro"] # if we use it with list function,it counts every letter
liste3

['Techpro']

In [14]:
["Techpro", "sedat", 15]

['Techpro', 'sedat', 15]

In [15]:
liste4 = [1250]
liste4

[1250]

In [20]:
list(1462)  # because they are not iterable

TypeError: 'int' object is not iterable

In [21]:
newlist = [4, 3.14, False, "Murat"]
newlist

[4, 3.14, False, 'Murat']

In [22]:
type(newlist)

list

In [24]:
newlist[0] # indexing

4

In [27]:
newlist[1]

3.14

In [30]:
[4, 3.14, False, "Murat"][1:3] # the second brackets are for indexing
# while ranging for index, we do not take include the upperbound

[3.14, False]

In [36]:
newlist[3][2] # first [] used for elements in list while the second one 
# is for element of the element

'r'

In [39]:
newlist[2][2] # boolean is not indexable

TypeError: 'bool' object is not subscriptable

In [40]:
newlist[1][1] # float is also not indexable

TypeError: 'float' object is not subscriptable

In [41]:
newlist[0][0]

TypeError: 'int' object is not subscriptable

In [43]:
type(newlist[0]) # we can even reach to an index of list and see type

int

In [44]:
newlist[0] // 3

1

In [45]:
newlist[3]*3

'MuratMuratMurat'

In [46]:
newlist[3].upper()

'MURAT'

In [47]:
# newlist[3]. after the dot, the computer gives the suggestion according the 
# tupe of that indexed elemetn

In [50]:
newlist1 = [3, 3.14, "ahmet", [3, 5, False]] # the elements are 
# separated by comma
len(newlist1)

4

In [51]:
newlist1[3]

[3, 5, False]

In [54]:
len(newlist1[3]) # while it's len is 3, this itself is an element 
# of a list of 4 elemetns

3

In [55]:
newlist1[3][1]

5

In [57]:
smile =       "asdfsddsaf"
liste5 = [smile]
liste5

['asdfsddsaf']

In [58]:
list(smile)

['a', 's', 'd', 'f', 's', 'd', 'd', 's', 'a', 'f']

In [59]:
list[smile]

list['asdfsddsaf']

In [60]:
print(len(list(35)))

TypeError: 'int' object is not iterable

In [62]:
print(len([35]))

1

In [64]:
print(len(list("35")))

2

In [66]:
newlist

[4, 3.14, False, 'Murat']

In [69]:
newlist[-1] # indexing and slicing is like strings

'Murat'

In [71]:
sayilistesi = [16, 25, [12, 14, 18], 27, 36]
sayilistesi

[16, 25, [12, 14, 18], 27, 36]

In [72]:
sayilistesi[2:4]

[[12, 14, 18], 27]

In [74]:
sayilistesi[-2:-1]

[27]

In [75]:
sayilistesi[-2:-3] # it goes to end before to

[]

In [77]:
sayilistesi[:4:2]

[16, [12, 14, 18]]

In [79]:
sayilistesi[1] + sayilistesi[3]

52

In [80]:
sayilistesi[1:5:2]

[25, 27]

In [81]:
sayilistesi[::]

[16, 25, [12, 14, 18], 27, 36]

In [82]:
liste3

['Techpro']

In [83]:
liste1

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [84]:
liste1 + liste3

['T', 'e', 'c', 'h', 'p', 'r', 'o', 'Techpro']

In [86]:
liste3 * 3

['Techpro', 'Techpro', 'Techpro']

In [88]:
[1250, 365] * 4

[1250, 365, 1250, 365, 1250, 365, 1250, 365]

In [91]:
print(liste1 * 3)

['T', 'e', 'c', 'h', 'p', 'r', 'o', 'T', 'e', 'c', 'h', 'p', 'r', 'o', 'T', 'e', 'c', 'h', 'p', 'r', 'o']

In [94]:
sayilarinkupu = [1, 8, 27, 65, 125]

In [104]:
sayilarinkupu[3] = 64 # we can change an element this way
# mutable

In [97]:
sayilarinkupu

[1, 8, 27, 64, 125]

In [99]:
name = "Techpro"

In [100]:
name[0]

'T'

In [103]:
name[0] = "P" # we cannot change like we can in lists
# immutable

TypeError: 'str' object does not support item assignment

False

In [106]:
sayilistesi[-1:-1] # first including then exclude

[]

In [107]:
aa = list(name)
aa

['T', 'e', 'c', 'h', 'p', 'r', 'o']

In [109]:
aa[0] = "P"
aa

['P', 'e', 'c', 'h', 'p', 'r', 'o']

In [112]:
str(aa) # it even stores the values of , ' and all

"['P', 'e', 'c', 'h', 'p', 'r', 'o']"

In [113]:
str(aa).strip("[").strip("]").replace(",","").replace(" ","").replace("'","")

'Pechpro'

In [116]:
sayilistesi

[16, 25, [12, 14, 18], 27, 36]

In [118]:
sayilistesi[1] = [25, 17]
sayilistesi

[16, [25, 17], [12, 14, 18], 27, 36]

In [119]:
sayilistesi[3] = []
sayilistesi

[16, [25, 17], [12, 14, 18], [], 36]

In [121]:
sayilistesi[3] = None
sayilistesi

[16, [25, 17], [12, 14, 18], None, 36]

In [123]:
sayilistesi[3] = ""
sayilistesi

[16, [25, 17], [12, 14, 18], '', 36]

In [124]:
letters = ["a","b","c","d","e","f","g"]

In [125]:
letters[2:5]

['c', 'd', 'e']

In [127]:
letters[2:5] = 1, 2, 3
letters

['a', 'b', 1, 2, 3, 'f', 'g']

In [131]:
letters[0] = "h", "k", "l"
letters # tupple

[('h', 'k', 'l'), 'b', 1, 2, 3, 'f', 'g']

In [132]:
letters[0] = ["h", "k", "l"]
letters

[['h', 'k', 'l'], 'b', 1, 2, 3, 'f', 'g']

In [133]:
letters[5:] = ""

In [135]:
letters

[['h', 'k', 'l'], 'b', 1, 2, 3]

In [136]:
list("sedat")

['s', 'e', 'd', 'a', 't']

In [138]:
len(list([12,15,18]))

3

In [139]:
["sedat"]

['sedat']

In [140]:
len([[12,15,18]])

1

In [141]:
alfabe = ["a","b","c","d","e"]
alfabe

['a', 'b', 'c', 'd', 'e']

In [143]:
alfabe1 = list("abcde")
alfabe1

['a', 'b', 'c', 'd', 'e']

In [144]:
letters

[['h', 'k', 'l'], 'b', 1, 2, 3]

In [156]:
letter = ["a","b","c","d","e","f","g"]

In [155]:
letter[2:5] = 1,2,3,5
letter

['a', 'b', 1, 2, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 'f', 'g']

In [163]:
letter[2:5] = 1,2,3,4,5
letter

['a', 'b', 1, 2, 3, 4, 5, 4, 5, 4, 5, 4, 5, 'f', 'g']

## Basic operactions with lists

In [164]:
sayilar = [1,2,3,4,5]
sayilar

[1, 2, 3, 4, 5]

### append()

In [168]:
sayilar.append("Merhaba")
sayilar # as long as we keep run it, it'll keep adding

[1, 2, 3, 4, 5, 'Merhaba', 'Merhaba', 'Merhaba', 'Merhaba']

In [169]:
name = "Techpro"

In [172]:
name.upper() # it doesn't assign, next time we call name, it'll bring it's original value

'TECHPRO'

In [171]:
name

'Techpro'

In [173]:
sayilar.append(7)

In [174]:
sayilar

[1, 2, 3, 4, 5, 'Merhaba', 'Merhaba', 'Merhaba', 'Merhaba', 7]

In [175]:
sayilar.append(8,9) # only one arguments

TypeError: list.append() takes exactly one argument (2 given)

In [176]:
sayilar.append(8).append(9)

AttributeError: 'NoneType' object has no attribute 'append'

In [177]:
sayilar.append([8,9])
sayilar

[1, 2, 3, 4, 5, 'Merhaba', 'Merhaba', 'Merhaba', 'Merhaba', 7, 8, [8, 9]]

In [179]:
"Techpro".upper().capitalize()

'Techpro'

In [180]:
sayilar.append(True)

In [181]:
sayilar

[1, 2, 3, 4, 5, 'Merhaba', 'Merhaba', 'Merhaba', 'Merhaba', 7, 8, [8, 9], True]

### insert()

In [182]:
sayilar

[1, 2, 3, 4, 5, 'Merhaba', 'Merhaba', 'Merhaba', 'Merhaba', 7, 8, [8, 9], True]

In [189]:
sayilar.insert(0,15)# index ve eklenecek elemant 
# birinci elemant index, ikincisi de element

In [190]:
sayilar

[15,
 15,
 0,
 1,
 2,
 3,
 4,
 5,
 'Merhaba',
 'Merhaba',
 'Merhaba',
 'Merhaba',
 7,
 8,
 [8, 9],
 True]

In [191]:
sayilar.insert(2,"Hello Everybody")

In [192]:
sayilar

[15,
 15,
 'Hello Everybody',
 0,
 1,
 2,
 3,
 4,
 5,
 'Merhaba',
 'Merhaba',
 'Merhaba',
 'Merhaba',
 7,
 8,
 [8, 9],
 True]

In [193]:
sayilar2 = [5,10,15,20]
sayilar2.insert(-1,25)

In [195]:
sayilar2 # saga kaydirir

[5, 10, 15, 25, 20]

### remove()

In [196]:
sayilar

[15,
 15,
 'Hello Everybody',
 0,
 1,
 2,
 3,
 4,
 5,
 'Merhaba',
 'Merhaba',
 'Merhaba',
 'Merhaba',
 7,
 8,
 [8, 9],
 True]

In [203]:
sayilar = ['hi everyone', 1, 2, 15, 3, 4, 5, 6, 7, 'hello', [8, 9], True]
sayilar3 = [1,2,3,4,5,4,2,8,29]

In [208]:
sayilar3.remove(2) # ilk gordugu iki yi siler

ValueError: list.remove(x): x not in list

In [207]:
sayilar3

[1, 3, 4, 5, 4, 8, 29]

In [209]:
sayilar3.remove(3, 4)

TypeError: list.remove() takes exactly one argument (2 given)

In [210]:
sayilar3.remove(sayilar3[3])

In [211]:
sayilar3

[1, 3, 4, 4, 8, 29]

In [212]:
sayilar3 = [1,2,3,4,5,4,8,9,1,2,1]

In [213]:
sayilar3

[1, 2, 3, 4, 5, 4, 8, 9, 1, 2, 1]

{1, 2, 3, 4, 5, 8, 9}

#### sort()

In [216]:
sayilar3.sort()

In [218]:
sayilar3 # sorts from least to max

[1, 1, 1, 2, 2, 3, 4, 4, 5, 8, 9]

In [219]:
strings = "Techpro","Merhaba"
strings

('Techpro', 'Merhaba')

In [222]:
sayilar3.sort(reverse=True) # from max to least

In [221]:
sayilar3

[9, 8, 5, 4, 4, 3, 2, 2, 1, 1, 1]

In [224]:
list6 = [3,5,3.14,"Ahmet","Mehmet","sedat", False, True] # can't compare str and float
list6.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [225]:
list7 = [3,5,"Ahmet","Mehmet","sedat", False, True]
list7.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [226]:
list8 = [3,5, False, True]
list8.sort()

In [228]:
list8 # false value 0 and true 1

[False, True, 3, 5]

In [229]:
list9 = [3,5,3.14, False, True]
list9.sort()

In [230]:
list9

[False, True, 3, 3.14, 5]

In [231]:
anotherstring = ["Sedat", "Ahmet","merhaba"]
anotherstring.sort()

In [232]:
anotherstring

['Ahmet', 'Sedat', 'merhaba']

In [233]:
liste_10 = ["apple","orange","angel","banana","Pine apple"]
liste_10.sort()

In [234]:
liste_10 # angel and apple compares the second letter

['Pine apple', 'angel', 'apple', 'banana', 'orange']

In [235]:
liste_11 = ["apple","orange","angel","banana","ine Apple"]
liste_11.sort()
liste_11

['angel', 'apple', 'banana', 'ine Apple', 'orange']

In [2]:
list() # iterable
[]

[]

In [4]:
list("filiz") # mutable and iterable, and elements are any data type, sep
# by comma

['f', 'i', 'l', 'i', 'z']

In [5]:
["filiz"]

['filiz']

In [6]:
len(["filiz"])

1

In [7]:
emptylist = list()

In [8]:
emptylist

[]

In [9]:
emptylist2 = []
emptylist2

[]

In [11]:
emptylist111 = None
print(emptylist111)

None

In [12]:
str1 = "sabahattin"

In [13]:
list(str1)

['s', 'a', 'b', 'a', 'h', 'a', 't', 't', 'i', 'n']

In [14]:
[str1]

['sabahattin']